<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('To Geek Is Human - Manage Posts')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="preloader"></div>
<span class="archive-table hidden">
    <div class="table-responsive">
        <table style="table-layout: fixed;" id="dtBasicExample" data-toggle="table" class="table table-dark table-striped table-bordered table-sm" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th class="th-sm th-title">Title
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm th-editor">Editor
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm th-likes">Likes
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm th-comments">Comments
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm th-date">Date
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <a class="popularTitleLink" th:href="@{/posts/{id}/{title}(id=${post.id}, title=${post.makeSlug(post.title)})}">
                        <h4 class="popularTitleText" th:utext="${post.htmlTitle}"></h4>
                    </a>
                </td>
                <td>
                    <a class="popularTitleLink" th:href="@{/profile/{id}(id=${post.user.id})}">
                        <h4 class="popularTitleText" th:utext="${post.user.username}"></h4>
                    </a>
                </td>
                <td>
                    <i class="fas fa-thumbs-up postUpVoteIconIndex"></i>
                    <h5 class="postVoteCountIndex" th:text="${post.voteCount()}"></h5>
                </td>
                <td>
                    <i class="fas fa-comments postCommentIconIndex"></i>
                    <h5 class="postCommentSizeIndex" th:text="${post.getComments().size()}"></h5>
                </td>
                <td>
                    <span class="postedByDate hidden" th:text="${post.date}"></span>
                    <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
                    <span class="postedByDateTime" th:text="${#temporals.format(post.date, 'h:mm a')}"></span>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</span>
<footer th:include="fragments/footer :: my-footer"></footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<Script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></Script>
<Script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></Script>
<Script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></Script>
<Script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></Script>
<script>

    // $(window).load(function(){
    //     $('.preloader').fadeOut('slow',function(){
    //         $(this).remove();
    //     });
    // });

    $(document).ready(function () {
        $('.preloader').fadeOut('slow',function(){
            $(this).remove();
            $('.archive-table').removeClass('hidden');
        });
        $('#dtBasicExample').DataTable({
            // responsive: true,
            "order": [[ 3, "desc" ]],
        });

        // https://datatables.net/blog/2014-12-18

    });
</script>
</body>
</html>