<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('To Geek Is Human - Manage Posts')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="jumbotron flex-center">
    <h2 class="display-3 archivedPostsWelcome">Archived Posts</h2>
</div>

<th:block th:fragment="posts-table">
<div class="preloader"></div>
<span class="archive-table hidden">
    <div class="table-responsive">
        <table style="table-layout: fixed;" id="dtBasicExample" data-toggle="table" class="table table-hover" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th class="">Title
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="fas fa-user-circle post-info-fa-icon margin-right-lite"></i>Editor
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="fas fa-thumbs-up post-info-fa-icon margin-right-lite"></i>Likes
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="fas fa-comments post-info-fa-icon margin-right-lite"></i>Comments
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">Date
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <i class="fas fa-wrench post-info-fa-icon margin-right-lite"></i>Options</th>

                <th class="hidden">
                    <!--hide this <th> to be able to search for content specific for a post inside the search bar-->
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <a class="popularTitleLink" th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                        <h4 class="popularTitleText" th:utext="${post.htmlTitle}"></h4>
                    </a>
                </td>
                <td>
                    <a class="popularTitleLink" th:href="@{/profile/{id}/{username}(id=${post.user.id}, username=${formatter.makeSlug(post.user.username)})}">
                        <h4 class="popularTitleText" th:utext="${post.user.username}"></h4>
                    </a>
                </td>
                <td>
                    <h5 class="post-info-count" th:text="${post.voteCount()}"></h5>
                </td>
                <td>
                    <h5 class="post-info-count" th:text="${post.getComments().size()}"></h5>
                </td>
                <td>
                    <span class="postedByDate hidden" th:text="${post.date}"></span>
                    <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
                    <span class="postedByDateTime" th:text="${#temporals.format(post.date, 'h:mm a')}"></span>

                </td>
                <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <i class="fas fa-ellipsis-h fa-lg comment-ellipsis dropdown-toggle"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">
                        <div>
                            <a class="dropdown-edit-btn"  th:href="${'/posts/' + post.id + '/edit'}">
                                <i class="far fa-edit"></i> edit
                            </a>
                        </div>
                        <div>
                            <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post" class="deleteCommentForm">
                                <button class="dropdown-delete-btn" type="submit">
                                    <i class="fas fa-bomb"></i> delete
                                </button>
                            </form>
                        </div>

                        <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!post.isDisabled()}" class="deleteCommentForm">
                            <form th:action="@{'/posts/' + ${post.id} + '/disable'}" method="post">
                                <button class="dropdown-delete-btn">
                                    <i class="fas fa-lock"></i> disable
                                </button>
                            </form>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${post.isDisabled()}" class="deleteCommentForm">
                            <form th:action="@{'/posts/' + ${post.id} + '/enable'}" method="post">
                                <button class="dropdown-delete-btn">
                                    <i class="fas fa-lock-open"></i> enable
                                </button>
                            </form>
                        </div>
                    </div>
                </td>

                <!--hide this <td> to be able to search for content specific for a post inside the search bar-->
                <td class="hidden">
                <span th:utext="${post.htmlDescription}"></span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</span>
</th:block>
<footer th:include="fragments/footer :: my-footer"></footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
<script>

    // $(window).load(function(){
    //     $('.preloader').fadeOut('slow',function(){
    //         $(this).remove();
    //     });
    // });

    $(document).ready(function () {
        $('.preloader').fadeOut('slow',function(){
            $(this).remove();
            $('.archive-table').removeClass('hidden');
        });
        $('#dtBasicExample').DataTable({
            // responsive: true,
            "order": [[ 4, "desc" ]], // this sorts a desired column. In this case, date.
            "pageLength": 6
        });

        // https://datatables.net/blog/2014-12-18

    });
</script>
</body>
</html>