<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/bower_components/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/fontawesome-all.css" type="text/css"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <title>Create Post</title>
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container createPostPageWrapper">

    <h1 class="createPostPageIntro">Create New Post</h1>


    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}" enctype="multipart/form-data">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" th:field="*{title}"/>
            <!--<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />-->
            <!--more fancy bootstrap alerts:-->
            <div
                    th:if="${#fields.hasErrors('title')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{title}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="myEditor">Description</label>
            <textarea type="text" name="description" class="form-control" id="myEditor" th:field="*{description}"  style="width: 1140px; height: 300px; resize: none"></textarea>
            <div
                    th:if="${#fields.hasErrors('description')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{description}"/>
            </div>
        </div>

        <!--<div class="form-group">-->
        <!--<label for="file">Upload a file!</label>-->
        <!--<input id="file" name="image_file" type="file" />-->
        <!--</div>-->


        <!--<input type="submit" value="Post!" class="btn btn-primary btn-block" />-->
        <!--<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>-->
        <input class="form-control" type="hidden" id="date" name="date" th:field="*{date}"/>
        <input type="submit" value="Post!" class="btn btn-primary btn-block" />
    </form>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/ace-builds/src-min/ace.js"></script>
<script src="/bower_components/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js"></script>

<script>
    //$('#myEditor').markdownEditor();
    $('#myEditor').markdownEditor({
        // Activate the preview:
        imageUpload: true, // Activate the option
        uploadPath: '/posts/image.json', // Path of the server side script that receive the files
        preview: true,
        // This callback is called when the user click on the preview button:
        onPreview: function (content, callback) {
            // Example of implementation with ajax:
            $.ajax({
                url: '/posts/description.json',
                type: 'GET',
                dataType: 'html',
                data: {content: content},
            })
                .done(function(content) {
                    // Return the html:
                    callback(content);
                });
        }
    });

</script>
</html>
