<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Create a Post')"></head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container createPostPageWrapper">

    <h1 class="createPostPageIntro">Create New Post</h1>

    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}" enctype="multipart/form-data">

        <th:block th:fragment="post-form">

        <label>Tips &amp; Guidelines:</label>
        <blockquote>
            <ol>
                <li><h5>If possible, start your post with an image. Large images will be scaled.</h5></li>
                <li><h5>For links to conveniently open in a new tab, copy the following HTML:</h5></li>
                &lt;a href="url goes here" target="_blank">text goes here&lt;/a&gt;
                <li><h5>For code, wrap your code in backticks: ```code```</h5></li>
            </ol>
        </blockquote>

        <label class="create-post-form-labels" for="tags">Categories:</label>
        <div class="form-group" id="categories-selector">
            <select id="tags" class="selectpicker" multiple="multiple" data-max-options="4" name="categories" th:field="*{categories}">
                <option th:each="tag : ${categories}" th:value="${tag.id}" th:text="${tag.name}"></option>
            </select>
            <div
                    th:if="${#fields.hasErrors('categories')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{categories}"/>
            </div>
        </div>

        <div class="form-group title-form-group">
            <label class="create-post-form-labels" for="title">Title:</label>
            <textarea type="text" name="title" class="form-control" id="title" th:field="*{title}" maxlength="100"></textarea>
            <!--<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />-->
            <!--more fancy bootstrap alerts:-->
            <span id="title-chars">100</span><span> characters max (Click the Preview tab to update)</span>
            <div
                    th:if="${#fields.hasErrors('title')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{title}"/>
            </div>
        </div>

        <div class="form-group form-group-post-subtitle">
            <label class="create-post-form-labels" for="subtitle">Subtitle:</label>
            <textarea type="text" name="subtitle" class="form-control" id="subtitle" th:field="*{subtitle}" maxlength="200"></textarea>
            <!--<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />-->
            <!--more fancy bootstrap alerts:-->
            <span id="subtitle-chars">200</span><span> characters max (Click the Preview tab to update)</span>
            <div
                    th:if="${#fields.hasErrors('subtitle')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{subtitle}"/>
            </div>
        </div>

        <div class="form-group form-group-headline-image">
            <label class="create-post-form-labels" for="headline-image">Headline Image:</label>
            <textarea type="text" name="image" class="form-control" id="headline-image" th:field="*{image}"  style="resize: none"></textarea>
            <!--<div-->
                    <!--th:if="${#fields.hasErrors('image')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert"-->
            <!--&gt;-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--<span th:errors="*{image}"/>-->
            <!--</div>-->
        </div>

        <div class="form-group form-group-post-description">
            <label class="create-post-form-labels" for="myEditor">Description:</label>
            <textarea type="text" name="description" class="form-control" id="myEditor" th:field="*{description}"  style="resize: none" maxlength="5000"></textarea>
            <span id="description-chars">5000</span><span> characters max (Click the Preview tab to update)</span>
            <div
                    th:if="${#fields.hasErrors('description')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{description}"/>
            </div>
        </div>

        <!--<div class="form-group">-->
        <!--<label for="file">Upload a file!</label>-->
        <!--<input id="file" name="image_file" type="file" />-->
        <!--</div>-->

        <!--<input type="submit" value="Post!" class="btn btn-primary btn-block" />-->
        <!--<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>-->
        <input class="form-control" type="hidden" id="date" name="date" th:field="*{date}"/>
        <input type="submit" value="Submit Post" class="btn btn-primary btn-block" />
        </th:block>
    </form>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
<th:block th:fragment="post-form-script">
<script>

    $( document ).ready(function() {

        console.log("get here");

        $.fn.markdownEditor.defaults.height = '50px';
        $('#title').markdownEditor({
            imageUpload: false,
            fullscreen: false,
            preview: true,
            // Activate the preview:
            // This callback is called when the user click on the preview button:
            onPreview: function (title, callback) {

                console.log("get here");
                let maxTitleLength = 100;
                let length = $('#title').val().length;
                let length2 = maxTitleLength-length;
                if(length > 0) {
                    $('#title-chars').text(length);
                }
                $('#title-chars').text(length2);
                // Example of implementation with ajax:
                $.ajax({
                    url: '/posts/title.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {title: title},
                })
                    .done(function (title) {
                        // Return the html:
                        callback(title);
                    });
            }
        });
        $('.title-form-group [data-btn="image"]').addClass('hidden');
        $('.title-form-group [data-btn="link"]').addClass('hidden');
        $('.title-form-group [data-btn="ul"]').addClass('hidden');
        $('.title-form-group [data-btn="ol"]').addClass('hidden');
        $('.title-form-group [data-btn="h1"]').addClass('hidden');
        $('.title-form-group [data-btn="h2"]').addClass('hidden');
        $('.title-form-group [data-btn="h3"]').addClass('hidden');

        $.fn.markdownEditor.defaults.height = '50px';
        $('#subtitle').markdownEditor({
            imageUpload: false,
            fullscreen: false,
            preview: true,
            // Activate the preview:
            // This callback is called when the user click on the preview button:
            onPreview: function (subtitle, callback) {
                // Example of implementation with ajax:
                let maxSubtitleLength = 200;
                let length = $('#subtitle').val().length;
                let length2 = maxSubtitleLength-length;
                if(length > 0) {
                    $('#subtitle-chars').text(length);
                }
                $('#subtitle-chars').text(length2);

                $.ajax({
                    url: '/posts/subtitle.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {subtitle: subtitle},
                })
                    .done(function (subtitle) {
                        // Return the html:
                        callback(subtitle);
                    });
            }
        });
        $('.form-group-post-subtitle [data-btn="image"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="link"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="ul"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="ol"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="h1"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="h2"]').addClass('hidden');
        $('.form-group-post-subtitle [data-btn="h3"]').addClass('hidden');

        $.fn.markdownEditor.defaults.height = '325px';
        $('#myEditor').markdownEditor({
            // Activate the preview:
            imageUpload: false, // Activate the option
            // uploadPath: '/posts/image.json', // Path of the server side script that receives the files
            preview: true,
            // This callback is called when the user click on the preview button:
            onPreview: function (content, callback) {

                let maxDescriptionLength = 5000;
                let length = $('#myEditor').val().length;
                let length2 = maxDescriptionLength-length;
                if(length > 0) {
                    $('#description-chars').text(length);
                }
                $('#description-chars').text(length2);
                // Example of implementation with ajax:
                $.ajax({
                    url: '/posts/description.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {content: content},
                })
                    .done(function (content) {
                        // Return the html:
                        callback(content);
                    });
            }
        });

        $.fn.markdownEditor.defaults.height = '100px';
        $('#headline-image').markdownEditor({
            imageUpload: true, // Activate the option
            uploadPath: '/posts/image.json', // Path of the server side script that receives the files
            fullscreen: false,
            preview: true,
            // This callback is called when the user click on the preview button:
            onPreview: function (image, callback) {
                // Example of implementation with ajax:
                $.ajax({
                    url: '/posts/image.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {image: image},
                })
                    .done(function (content) {
                        // Return the html:
                        callback(content);
                    });
            }

        });
        $('.form-group-headline-image [data-btn="link"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="bold"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="italic"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="h1"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="h2"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="h3"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="ol"]').addClass('hidden');
        $('.form-group-headline-image [data-btn="ul"]').addClass('hidden');

    });

</script>
</th:block>
</html>
