<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Update a Post')"></head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container editPostPageWrapper">

    <h1 class="editPostPageIntro">Edit Post</h1>

    <!--====================================== EDIT FORM ========================================-->

    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" method="post" th:object="${post}">

        <th:block th:replace="posts/create :: post-form"></th:block>

    </form>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
<th:block th:replace="posts/create :: post-form-script"></th:block>
</html>