<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Create a Post')"></head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container editPostPageWrapper">

    <h1 class="editPostPageIntro">Edit Post</h1>

    <!--====================================== EDIT FORM ========================================-->

    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" method="post" th:object="${post}">

        <div class="form-group title-form-group">
            <label for="title">Title:</label>
            <textarea type="text" name="title" class="form-control" id="title" th:field="*{title}"></textarea>
            <!--<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />-->
            <!--more fancy bootstrap alerts:-->
            <div
                    th:if="${#fields.hasErrors('title')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{title}"/>
            </div>
        </div>

        <label for="tags">Categories:</label>
        <div class="form-group" id="categories-selector">
            <select id="tags" class="selectpicker" multiple="multiple" data-max-options="4" name="categories" th:field="*{categories}">
                <option th:each="tag : ${categories}" th:value="${tag.id}" th:text="${tag.name}"></option>
            </select>
            <div
                    th:if="${#fields.hasErrors('categories')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{categories}"/>
            </div>
        </div>


        <div class="form-group">
            <label for="myEditor">Description:</label>
            <textarea type="text" name="description" class="form-control" id="myEditor" th:field="*{description}"  style="resize: none"></textarea>
            <div
                    th:if="${#fields.hasErrors('description')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert"
            >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="*{description}"/>
            </div>
        </div>

        <h4>Tips &amp; Guidelines:</h4>
        <blockquote>
            <h5>Best practice is to start your post with an image, if possible. Large images will be scaled.</h5>
            <h5>For links to conveniently open in a new tab, copy the following HTML:</h5>
            &lt;a href="url goes here" target="_blank">text goes here&lt;/a&gt;
        </blockquote>


        <!--<div class="form-group">-->
        <!--<label for="file">Upload a file!</label>-->
        <!--<input id="file" name="image_file" type="file" />-->
        <!--</div>-->


        <!--<input type="submit" value="Post!" class="btn btn-primary btn-block" />-->
        <!--<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>-->
        <input class="form-control" type="hidden" id="date" name="date" th:field="*{date}"/>
        <input type="submit" value="Update Post" class="btn btn-primary btn-block" />
    </form>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
<script>
    $( document ).ready(function() {


        $.fn.markdownEditor.defaults.height = '50px';
        $('#title').markdownEditor({
            imageUpload: false,
            fullscreen: false,
            preview: true,
            // Activate the preview:
            // This callback is called when the user click on the preview button:
            onPreview: function (title, callback) {
                // Example of implementation with ajax:
                $.ajax({
                    url: '/posts/title.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {title: title},
                })
                    .done(function (title) {
                        // Return the html:
                        callback(title);
                    });
            }
        });
        $('[data-btn="image"]').addClass('hidden');
        $('[data-btn="link"]').addClass('hidden');
        $('[data-btn="ul"]').addClass('hidden');
        $('[data-btn="ol"]').addClass('hidden');
        $('[data-btn="h1"]').addClass('hidden');
        $('[data-btn="h2"]').addClass('hidden');
        $('[data-btn="h3"]').addClass('hidden');

        $.fn.markdownEditor.defaults.height = '325px';
        $('#myEditor').markdownEditor({
            // Activate the preview:
            imageUpload: false, // Activate the option
            // uploadPath: '/posts/image.json', // Path of the server side script that receives the files
            uploadPath: '/posts/image', // Path of the server side script that receives the files
            preview: true,
            // This callback is called when the user click on the preview button:
            onPreview: function (content, callback) {
                // Example of implementation with ajax:
                $.ajax({
                    url: '/posts/description.json',
                    type: 'GET',
                    dataType: 'html',
                    data: {content: content},
                })
                    .done(function (content) {
                        // Return the html:
                        callback(content);
                    });
            }
        });

    });

</script>
</html>