<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Search Results')"></head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<a href="#" class="scrollUp"><i class="fas fa-arrow-circle-up indent"></i></a>

<div class="indexPageWrapper">

    <th:block th:include="fragments/sidebar :: sidebar"></th:block>

    <div class="indexPagePostsWrapper">

        <th:block th:include="fragments/searchedPosts :: searchedPosts"></th:block>

    </div>
</div>

<th:block th:include="fragments/sidebar :: sidebar-mobile"></th:block>
<footer th:include="fragments/footer :: my-footer"></footer>
<script>

    $('.indexPageWrapper').on("click", ".tag", function() {

        let button = $(this);
        let term = button.data('tag-name');

        let request = $.ajax({
            type: 'GET',
            url: '/posts/search-tag/' + term,
            dataType: 'html',
            contentType: "application/json; charset=utf-8",
            data: term
        });

        request.done((html) => {
            console.log(html);
            $('.indexPagePostsWrapper').html(html);
            $('div.postDescription img').css({'max-width': '740px'});
            $('.postDescription').removeClass('hidden');
        });
    });

</script>
</body>
</html>