<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Search Results')"></head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<a href="#" class="scrollUp"><i class="fas fa-arrow-circle-up indent"></i></a>

<div class="indexPageWrapper">

    <th:block th:include="fragments/sidebar :: sidebar"></th:block>

    <div class="indexPagePostsWrapper">

        <th:block th:include="fragments/searchedPosts :: searchedPosts"></th:block>

    </div>
</div>

<th:block th:include="fragments/sidebar :: sidebar-mobile"></th:block>
<footer th:include="fragments/footer :: my-footer"></footer>
<script>

    $('#loadergif').addClass('hidden');
    $('.indexPageWrapper, .popularityWrapperMobile').on("click", ".tag", function() {

        let button = $(this);
        let term = button.data('tag-name');
        let request = $.ajax({
            type: 'GET',
            url: '/posts/search-tag/' + term,
            dataType: 'html',
            contentType: "application/json; charset=utf-8",
            data: term,
            beforeSend: function () {
                // Show image container
                $('.indexPagePostsWrapper').html('<img id="loadergif" src="../images/ajax-loader-3.svg"/>');
                $("#loadergif").removeClass('hidden');
            },
            complete: function () {
                // Hide image container
                $('#popularityHeaderTags').html("Tags");
                $("#loadergif").addClass('hidden');
            }

        });
        request.done((html) => {

            $('.indexPagePostsWrapper').html(html);
            $('div.postDescription img').css({'max-width': '740px'});
            $('.postDescription').removeClass('hidden');

            let mobile = $('.popularityWrapperMobile');
            if(!mobile.attr('hidden')) {
                $("html, body").animate({
                    scrollTop: 0
                }, 1);
            }
        });
    });

</script>
</body>
</html>