<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('Show Post')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div id="showPageWrapper">
    <!-- ================================================================================================================-->
    <!-- ====================================================  SHOW THE POST ============================================-->
    <!-- ================================================================================================================-->
    <div class="container">

        <h4 th:text="${post.title}" id="showPageIntro"></h4>

        <!-- ========================================= Post Voting ====================================-->

        <div class="row postVoting">

            <!--if not logged in: upvote and downvote arrows are href's linked to the login page. -->
            <div th:if="${!isLoggedIn}">
                <a th:href="${'/login'}">
                    <i class="far fa-thumbs-up"></i>
                </a>
            </div>
            <!--if logged in: upvote and downvote arrows function normally.-->
            <div th:if="${isLoggedIn}">

                <form th:action="@{/posts/upvote/{postId}(postId=${post.id})}" method='POST'
                      th:attr="data-upvote-post-id=${post.id}">
                    <i th:classappend="${upvote} ? stayActive : postUpvote" class="far fa-thumbs-up postUpvote" th:if="${isLoggedIn}"></i>
                    <!--when clicked, stayActive class will be added or removed.-->
                </form>

            </div>

            <div>
                <h5>
                    <span class="postVoteCount" th:text="${post.voteCount()}"
                          th:attr="data-voteCount-post-id=${post.id}"></span>
                </h5>
            </div>

            <div th:if="${isLoggedIn}">

                <form th:action="@{/posts/downvote/{postId}(postId=${post.id})}" method='POST'
                      th:attr="data-downvote-post-id=${post.id}">
                    <i th:classappend="${downvote} ? stayActive : postDownvote" class="far fa-thumbs-down postDownvote" th:if="${isLoggedIn}"></i>
                </form>
            </div>

            <div th:if="${!isLoggedIn}">
                <a th:href="${'/login'}">
                    <i class="far fa-thumbs-down"></i>
                </a>
            </div>

        </div>

        <!-- ====================================== Post User and Time  ============================== -->

        <h5 class="postedBy">
            <a th:href="${'/profile/' + post.user.id}" style="text-decoration: none;">
                <span class="postedByNameText" th:text="${post.user.username}"></span>
            </a>
            <!--<h5 id="createdDate">created: <span th:text="${#temporals.format(post.date, 'MM-dd-yyyy, h:mm a')}"></span></h5>-->
            <span class="postedByDateTime" th:text="${#temporals.format(post.date,  'h:mm a')}"></span>
            <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
            <span class="postedByDate" th:text="${#temporals.day(post.date)}">,</span>
            <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
        </h5>

        <!-- ====================================== Post Description =================================-->

        <h5 id="postTextBody" th:text="${post.description}"></h5>

        <!-- ====================================== Post Edit and Delete Buttons =====================-->

        <div sec:authorize="isAuthenticated()">
            <div th:if="${isPostOwner}">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <a id="editPostBtn" th:href="${'/posts/' + post.id + '/edit'}">
                                <i class="far fa-edit"></i> edit
                            </a>

                            <!--========================== Post Delete Button ================-->

                            <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
                                <!--th:object="${post}"-->
                                <!--<input type="hidden" name="id" th:field="*{id}" />-->
                                <button type="submit" id="deletePostBtn">
                                    <i class="fas fa-bomb"></i> delete
                                </button>

                                <!-- <input th:if="${isEditable}"-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================================================================================================================-->
        <!--============================================== FORM for COMMENTS ================================================-->
        <!-- ================================================================================================================-->

        <div th:if="${!isLoggedIn}" class="replyNotLoggedIn">
            <a th:href="${'/login'}">
                <i class="fas fa-reply"></i> REPLY
            </a>
        </div>

        <div sec:authorize="isAuthenticated()">

            <form th:action="${'/posts/' + post.id}" method="post" th:object="${comment}" class="commentForm">
                <div class="form-group">
                    <label for="commentFormBody"></label>
                    <textarea class="form-control" id="commentFormBody" name="body"
                              th:field="*{body}"
                              th:placeholder="Comment..."
                              style="width: 900px; height: 150px; resize: none">
                            </textarea>

                    <div class="commentsErrorAJAX"></div>
                    <!-- ======================== submit comment ================================-->

                    <input class="form-control" type="hidden" id="postId" th:value="${post.id}"/>
                    <button class="btn btn-primary commentSubmitBtn">
                        <i class="far fa-comment-alt"></i> Comment
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!-- ================================================================================================================-->
    <!--============================================= SHOW ALL COMMENTS (PAGEABLE) ======================================-->
    <!-- ================================================================================================================-->

    <hr id="commentHRLeader"/>

    <div class="container commentSection commentsAJAX"></div>
    <!-- This div will prepend with new ajax html. It should not be targeted otherwise -->

    <div class="container commentSection" th:each="comment : ${page}" th:data="*{page}">

        <div class="comment-wrapper" th:attr="data-edit-delete-comment-id=${comment.id}">
            <!-- this div should be targeted with unique th:attr -->

            <h5 class="postedBy">
                <a th:href="${'/profile/' + comment.user.id}" style="text-decoration: none;">
                    <span class="commentedByNameText" th:text="${comment.user.username}"></span>
                </a>
                <span class="commentedByDateTime" th:text="${#temporals.format(comment.date,  'h:mm a')}" style="margin-right: 0.75em;"></span>
                <span class="commentedByDate" th:text="${#temporals.monthNameShort(comment.date)}"></span>
                <span class="commentedByDate" th:text="${#temporals.day(comment.date)}">,</span>
                <span class="commentedByDate" th:text="${#temporals.year(comment.date)}"></span>
            </h5>

            <!-- =============================== Comment Body =========================-->

            <div class="commentBodyWrapper">
                <h5 th:text="${comment.body}" id="commentBodyText" th:attr="data-commentBody-comment-id=${comment.id}"></h5>
            </div>

            <!-- =============================== Edit Form ============================-->

            <form
                    th:action="@{/posts/{postId}/comment/{commentId}/edit(postId=${post.id},commentId=${comment.id})}"
                    method="POST"
                    th:object="${comment}"
                    class="editedCommentForm" id="editedCommentFormId"
                    th:attr="data-edit-form-comment-id=${comment.id}">

                    <textarea class="form-control editedCommentBodyText" name="body"
                              th:value="${comment.body}"
                              style="width: 900px; height: 150px; resize: none">
                    </textarea>

                <input type="hidden" name="id" th:data-edit-form-comment-id="${comment.id}" th:value="${comment.id}"/>

                <div class="row editAndDeleteBtnsRow">

                    <button class="btn btn-primary editedCommentCancelBtn">
                        CANCEL
                    </button>

                    <button class="btn btn-primary editedCommentSubmitBtn">
                        SAVE
                    </button>

                </div>
            </form>

            <!-- =============================== Comment Votes =========================-->

            <div class="commentVoting" th:attr="data-commentVoting-comment-id=${comment.id}">

                    <div class="upvoteDiv">
                                <div th:if="${!isLoggedIn}">
                                    <a th:href="${'/login'}">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <!--if logged in: upvote and downvote arrows function normally.-->
                                <div th:if="${isLoggedIn}">
                                    <form th:action="@{/comment/upvote/{commentId}(commentId=${comment.id})}" method="POST"
                                          th:attr="data-upvote-comment-id=${comment.id}">

                                            <i th:classappend="${comment.getVoteFrom(#authentication.principal) != null &amp;&amp; comment.getVoteFrom(#authentication.principal).isUpvote()} ? stayActive : commentUpvote"

                                               class="far fa-thumbs-up commentUpvote"

                                               th:if="${isLoggedIn}"
                                               th:attr="data-upvoteIcon-comment-id=${comment.id}"></i>
                                    </form>
                                </div>
                                </div>

                    <div class="voteCountDiv">
                                <h5>
                                    <span class="commentVoteCount" th:text="${comment.voteCount()}"
                                           th:attr="data-voteCount-comment-id=${comment.id}"></span>
                                </h5>
                                </div>

                    <div class="downvoteDiv">
                                <div th:if="${isLoggedIn}">
                                    <form th:action="@{/comment/downvote/{commentId}(commentId=${comment.id})}" method="POST"
                                          th:attr="data-downvote-comment-id=${comment.id}">

                                        <i th:classappend="${comment.getVoteFrom(#authentication.principal) != null &amp;&amp; comment.getVoteFrom(#authentication.principal).isDownvote()} ? stayActive : commentDownvote"

                                           class="far fa-thumbs-down commentDownvote"

                                           th:if="${isLoggedIn}"
                                           th:attr="data-downvoteIcon-comment-id=${comment.id}"></i>
                                    </form>
                                </div>
                                <div th:if="${!isLoggedIn}">
                                    <a th:href="${'/login'}">
                                        <i class="far fa-thumbs-down"></i>
                                    </a>
                                </div>
                                </div>
            </div>


            <div class="editAndDeleteWrapper">
                <div class="row">

                    <!--===================================== EDIT COMMENT BUTTON ========================-->
                    <!--==================================================================================-->
                    <!-- Edit button is an event trigger. There is no form here. -->
                    <div class="commentEdit" sec:authorize="isAuthenticated()"
                         th:if="${comment.isOwnedBy(#authentication.principal.id)}">
                        <a class="editCommentBtn" th:attr="data-edit-btn-comment-id=${comment.id}">
                            <i class="far fa-edit"></i> edit
                        </a>
                    </div>

                    <!--==================================== DELETE COMMENT BUTTON AND FORM =======================-->
                    <!--===========================================================================================-->

                    <div class="commentDelete" sec:authorize="isAuthenticated()">
                        <form th:if="${comment.isOwnedBy(#authentication.principal.id)}"
                              th:action="@{/posts/{postId}/comment/{commentId}/delete(postId=${post.id}, commentId=${comment.id})}"
                              method="POST"
                              th:object="${comment}"
                              class="deleteCommentForm">

                            <input type="hidden" name="id" th:attr="data-comment-id=${comment.id}"
                                   th:value="${comment.id}"/>
                            <!--<input type="hidden" name="id" id="deleteCommentBtn" th:value="${comment.id}"/>-->
                            <button class="deleteCommentBtn" th:attr="data-delete-btn-comment-id=${comment.id}">
                                <i class="fas fa-bomb"></i> delete
                            </button>
                            <!--<i class="fas fa-bomb"></i>-->
                            <!--<input type="submit" value="delete" class="deleteCommentBtn"/>-->
                        </form>
                    </div>

                </div>
            </div>

            <!--================================== REPLY TO A COMMENT ======================-->
            <!--============================================================================-->

            <div th:if="${!isLoggedIn}"  class="replyNotLoggedIn">
                <a th:href="${'/login'}">
                    <i class="fas fa-reply"></i> REPLY
                </a>
            </div>
            <div th:if="${isLoggedIn}">
                <h5 class="showReplyTextArea" sec:authorize="isAuthenticated()"
                    th:attr="data-replyButton-comment-id=${comment.id}">
                    <i class="fas fa-reply"></i> REPLY
                </h5>
                <h5 class="showReplyTextAreaCancel">
                    <i class="fas fa-times"></i> CANCEL
                </h5>

                <div class="replyTextArea">
                    <form th:action="${'/posts/' + post.id + '/comment/' + comment.id}" method="post"
                          th:object="${comment}">
                        <div class="form-group">
                            <label for="replyFormBody"></label>
                            <textarea class="form-control replyFormBody" id="replyFormBody" name="body"
                                      th:field="*{body}">
                            </textarea>

                            <div th:if="${#fields.hasErrors('body')}"
                                 class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <span th:errors="*{body}"/>
                            </div>
                            <input class="form-control" type="hidden" name="id" th:field="*{id}"/>
                            <button class="btn btn-primary commentReplyBtn">
                                <i class="far fa-comment-alt"></i> Reply
                            </button>

                        </div>
                    </form>
                </div>
            </div>

            <hr class="commentHR"/>
        </div>
    </div>
</div>
<!-- ================================================================================================================-->
<!-- =========================================== PAGINATION =========================================================-->
<!-- ================================================================================================================-->
<nav class="text-center">
    <ul class="pagination">

        <li th:class="${page.isFirst()}? 'disabled' : ''">
            <span th:if='${page.isFirst()}'>← First</span>
            <a th:if='${not page.isFirst()}' th:href="'?page=0'">
                ← First
            </a>
        </li>
        <li th:class="${page.hasPrevious()}? '' : 'disabled'">
            <span th:if='${not page.hasPrevious()}'>«</span>
            <a
                    th:if='${page.hasPrevious()}'
                    th:href="'?page=' + ${page.getNumber() - 1}"
                    title='Go to previous page'
            >
                «
            </a>
        </li>
        <!--<li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">-->
        <li th:each="i : ${#numbers.sequence(page.getNumber(), page.getTotalPages())}">
                <span
                        th:if='${(i - 1) == param.page}'
                        th:text='${i}'>
                    1
                </span>
            <a
                    th:if='${not ((i - 1) == param.page)}'
                    th:href="'?page=' + ${(i -1)}"
            >
                <span th:text='${i}'>1</span>
            </a>
        </li>
        <li th:class="${page.hasNext()} ? '' : 'disabled'">
            <span th:if='${not page.hasNext()}'>»</span>
            <a
                    th:if='${page.hasNext()}'
                    th:href="'?page=' + ${page.getNumber() + 1}"
                    title='Go to next page'
            >
                »
            </a>
        </li>
        <li th:class="${page.isLast()}? 'disabled' : ''">
            <span th:if='${page.isLast()}'>Last →</span>
            <a
                    th:if='${not page.isLast()}'
                    th:href="'?page=' + ${page.getTotalPages() - 1}"
            >
                Last →
            </a>
        </li>
    </ul>
</nav>

<footer th:include="fragments/footer :: my-footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!--<script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script>-->
<script th:inline="javascript">

    $('.replyTextArea').hide(); // hide the reply text area.
    $('.editedCommentForm').hide(); //hide the edit comment form.
    $('.showReplyTextAreaCancel').hide();

    $('.showReplyTextArea').on('click', function () {
        let $this = $(this);
        $this.hide();
        $this.siblings('.showReplyTextAreaCancel').show();
        $this.siblings('.replyTextArea').toggle(250);
    });

    $('.showReplyTextAreaCancel').on('click', function () {
        let $this = $(this);
        $this.hide();
        $this.siblings('.showReplyTextArea').show();
        $this.siblings('.replyTextArea').toggle(250);
    });

    $('.form').submit(function () {
        $(".replyTextArea").hide();
    });


    <!-- =================================================================================================================-->
    <!-- ============================================== SUBMIT Comment ===================================================-->
    <!-- =================================================================================================================-->

    $('.commentSubmitBtn').on("click", function (e) {
        console.log($('.commentForm').serialize());
        e.preventDefault();

        let request = $.ajax({
            // crossOrigin: true, //XSS shield.
            url: '/posts/' + $("#postId").val(), // @PostMapping("/posts/{postId}") in PostsController
            method: 'POST',
            dataType: 'html', // I'm returning html from the PostsController method postComment()
            // dataType: 'json',
            data: $('.commentForm').serialize()
        });
        request.done((html) => {
            // request.done((comment) => { // no need for confusion here, not returning a comment, but html.

            console.log("==== hello from ajax comment request.done");
            //console.log(comment.id);
            //comment id's will always be undefined here because I'm not returning an object, I'm returning html.

            $('#commentFormBody').val(''); // clear the input field.

            // if statement here to check if html is that error fragment! (html could be both error or comment)
            if (!(html.includes("commentBodyText"))) { // if it's an error,
                $('.commentsErrorAJAX').html(html).hide().fadeIn() // error belongs in the error div.
            }

            if (html.includes("commentBodyText")) { // if it's a comment...
                if ($('.commentsErrorAJAX').length >= 1) { // check if error exists first
                    $('.commentsErrorAJAX').hide(); // if error exists, hide it.
                }
                $('.commentsAJAX').prepend(html).hide().fadeIn(); // comment belongs in the comment div
            }

            $('.editedCommentFormAJAX').hide(); //hide the reply form.
            $('.replyTextAreaAJAX').hide(); // hide the reply text area.
            $('.showReplyTextAreaCancelAJAX').hide();

            $('.showReplyTextAreaAJAX').on('click', function () {
                let $this = $(this);
                $('#replyFormBodyAJAX').val('');
                $this.hide();
                $this.siblings('.showReplyTextAreaCancelAJAX').show();
                $this.siblings('.replyTextAreaAJAX').toggle(250);
            });

            $('.showReplyTextAreaCancelAJAX').on('click', function () {
                let $this = $(this);
                $this.hide();
                $this.siblings('.showReplyTextAreaAJAX').show();
                $this.siblings('.replyTextAreaAJAX').toggle(250);
            });
        });

        request.fail((a, b, c) => {
            console.log(a, b, c)
        });
    });

    <!-- =================================================================================================================-->
    <!-- ============================================== EDIT Comment =====================================================-->
    <!-- =================================================================================================================-->

    //The edit button is only an event trigger. When I click on the edit button:
    //A new textarea is revealed in place of the comment.body. Textarea should be populated with the original comment text. (controller)
    //When I click on the new submit button, new data should replace the previous data. (controller)

    $('.container').on("click", ".editCommentBtn", function () {
        console.log("edit button clicked");

        let $button = $(this);
        let commentId = $button.data('edit-btn-comment-id');
        console.log("commentid: " + commentId);

        //================================== AJAX ==================================
        let request = $.ajax({
            url: '/posts/' + $("#postId").val() + '/comment/' + commentId + '/edit',
            method: 'GET',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: commentId
        });
        request.done(function (comment) {
            console.log("hello from edited comment request.done");
            console.log("comment body: " + comment.body);

            let $commentBody = $('[data-commentBody-comment-id=' + commentId + ']');
            let $commentForm = $('[data-edit-form-comment-id=' + commentId + ']');
            let $commentVoting = $('[data-commentVoting-comment-id=' + commentId + ']');
            let $replyButton = $('[data-replyButton-comment-id=' + commentId + ']');
            let $editBtn = $('[data-edit-btn-comment-id=' + commentId + ']');
            let $deleteBtn = $('[data-delete-btn-comment-id=' + commentId + ']');

            $commentBody.hide(); // hide the original comment body
            $replyButton.hide(); // hide the reply link
            $commentVoting.hide(); // hide the comment votes
            $editBtn.hide(); // hide the edit button
            $deleteBtn.hide(); // hide the delete button
            $commentForm.show(); // I just want to show "this" edit form
            $('.editedCommentBodyText').text(comment.body); // put the text of comment.body inside the newly visible textarea.

            //================= cancel button ====================
            //====================================================

            $('.editedCommentCancelBtn').on("click", function (e) { // on cancel button click...
                e.preventDefault();
                $commentForm.hide(); // hide the edit form
                $commentBody.show(); // show the original comment back in the html
                $replyButton.show(); // show the reply button again
                $commentVoting.show(); // show the comment votes again
                $editBtn.show();// show the edit button
                $deleteBtn.show();// show the delete button
                // $commentBody.show(0, comment.body); this also works. very interesting dom error if you remove the 0.
            })

        });
        request.fail((a, b, c) => {
            console.log(a, b, c)
        });

    });

    <!-- =================================================================================================================-->
    <!-- ============================================ SUBMIT EDITED Comment ==============================================-->
    <!-- =================================================================================================================-->

    $('.container').on("click", ".editedCommentSubmitBtn", function (e) {
        e.preventDefault();

        let $button = $(this);
        let commentId = $button.parent().parent().data('edit-form-comment-id'); // get id
        // let content = $button.parent().children('textarea').text(); // I don't have to grab the content in the form.
        let commentForm = $('[data-edit-form-comment-id=' + commentId + ']'); // because I can just get the form

        let request = $.ajax({
            url: '/posts/' + $("#postId").val() + '/comment/' + commentId + '/edit',
            method: 'POST',
            dataType: 'json',
            data: commentForm.serialize()
        });
        request.done(function (comment) {
            console.log("hello from submitted edited comment request.done");
            console.log("new comment: " + comment.body);

            let $commentBody = $('[data-commentBody-comment-id=' + commentId + ']');
            let $replyButton = $('[data-replyButton-comment-id=' + commentId + ']');
            let $commentForm = $('[data-edit-form-comment-id=' + commentId + ']');
            let $editBtn = $('[data-edit-btn-comment-id=' + commentId + ']');
            let $deleteBtn = $('[data-delete-btn-comment-id=' + commentId + ']');

            $commentForm.hide(); // hide the edit form
            $commentBody.show().html(comment.body); // show the new updated comment in the html
            $replyButton.show(); // show the reply button again
            $editBtn.show();
            $deleteBtn.show();
        })
    });

    <!-- =================================================================================================================-->
    <!-- ============================================== DELETE Comment  ==================================================-->
    <!-- =================================================================================================================-->

    $('.container').on("click", ".deleteCommentBtn", function (e) {
        // use event delegation that targets an elements parent, something, that isn't dynamic: .container
        e.preventDefault(); // prevent default form behavior and instead use ajax.
        let commentInformation = $(this).parent().serialize();
        console.log(commentInformation);

        let $button = $(this);
        // Look for element with this attribute. We're looking for siblings(other comments) within the container.
        let commentId = $button.siblings('[data-comment-id]').data('comment-id');
        console.log(commentId);

        let request = $.ajax({
            url: '/posts/' + $("#postId").val() + '/comment/' + commentId + '/delete',
            method: 'POST',
            data: commentInformation
            // data: JSON.stringify({id: deleteCommentId}),
        });
        request.done(function () {

            console.log("hello from delete request.done");
            console.log($button);
            $('[data-edit-delete-comment-id=' + commentId + ']').remove(); // new way targets element directly.
            // $button.parent().parent().parent().parent().parent().remove(); // removes from html (old way/bad way)
        });
        request.fail((a, b, c) => {
            console.log(a, b, c)
        });
    });

    <!-- =================================================================================================================-->
    <!-- ============================================== POST VOTING  =====================================================-->
    <!-- =================================================================================================================-->

    $('.container').on("click", ".postUpvote", function (e) {
        // e.preventDefault(); // prevent default form behavior and instead use ajax.

        if ($(e.target).hasClass('stayActive')) {
            //remove vote
            let $button = $(this);
            let postId = $button.parent().data('upvote-post-id');
            console.log("you clicked an active vote on post:" + postId);

            let $postFormUp = $('[data-upvote-post-id=' + postId + ']');

            let request = $.ajax({
                url: '/posts/' + postId + '/removeVote',
                method: 'POST',
                dataType: 'json',
                data: $postFormUp.serialize()
            });
            request.done(function (post) {

                console.log("back from voteRemoval()");
                $('.postVoteCount').html(post.voteCount);
                $('.postUpvote').removeClass("stayActive");
            })
        } else {
            //upvote
            let $button = $(this);
            let postId = $button.parent().data('upvote-post-id');
            console.log(postId);

            let postFormUp = $('[data-upvote-post-id=' + postId + ']');

            let request = $.ajax({
                url: postFormUp.attr('action'), //-> postVoting() in PostsController
                method: 'POST',
                dataType: 'json', // returning an object by default
                data: postFormUp.serialize(),
            });
            request.done(function (post) {

                console.log("back from postVoting() in controller");
                $('.postVoteCount').html(post.voteCount);
                $('.postDownvote').removeClass("stayActive");
                $('.postUpvote').addClass("stayActive");

                console.log("votecount: " + post.voteCount);
            });

            request.fail((a, b, c) => {
                console.log(a, b, c)
            });
        }
    });

    $('.container').on("click", ".postDownvote", function (e) {
        // e.preventDefault(); // prevent default form behavior and instead use ajax.

        if ($(e.target).hasClass('stayActive')) {
            //remove vote
            let $button = $(this);
            let postId = $button.parent().data('downvote-post-id');
            console.log("you clicked an active vote on post:" + postId);

            let $postFormUp = $('[data-downvote-post-id=' + postId + ']');

            let request = $.ajax({
                url: '/posts/' + postId + '/removeVote', // -> voteRemoval() in PostsController
                method: 'POST',
                dataType: 'json',
                data: $postFormUp.serialize()
            });
            request.done(function (post) {

                console.log("back from voteRemoval() in controller");
                $('.postVoteCount').html(post.voteCount);
                $('.postDownvote').removeClass("stayActive");
            })
        } else {
            //downvote
            let $button = $(this);
            let postId = $button.parent().data('downvote-post-id');
            console.log(postId);

            let $postFormDown = $('[data-downvote-post-id=' + postId + ']');

            let request = $.ajax({
                url: $postFormDown.attr('action'), // -> postVoting() in PostsController
                method: 'POST',
                dataType: 'json', // returning an object by default
                data: $postFormDown.serialize()
            });
            request.done(function (post) {

                console.log("back from postVoting() in controller");

                $('.postVoteCount').html(post.voteCount);
                $('.postUpvote').removeClass("stayActive");
                $('.postDownvote').addClass("stayActive");

                console.log(post.voteCount);

            });

            request.fail((a, b, c) => {
                console.log(a, b, c)
            });
        }
    });

    <!-- =================================================================================================================-->
    <!-- ============================================== COMMENT VOTING  ==================================================-->
    <!-- =================================================================================================================-->

    $('.container').on("click", ".commentUpvote", function(e) {
        e.preventDefault();

        let $button = $(this);
        let commentId = $button.parent().data('upvote-comment-id');
        console.log(commentId);

        let commentFormUp = $('[data-upvote-comment-id=' + commentId + ']');

        let request = $.ajax({
            url: commentFormUp.attr('action'), //-> commentVoting() in PostsController using the action path in the form element
            method: 'POST',
            data: commentFormUp.serialize()
        });
        request.done(function(comment) {

            let $commentUpIcon = $('[data-upvoteIcon-comment-id=' + commentId + ']');
            let $commentDownIcon = $('[data-downvoteIcon-comment-id=' + commentId + ']');
            let $commentVoteCount = $('[data-voteCount-comment-id=' + commentId + ']');

            console.log("hello from comment upvote response");
            $commentVoteCount.html(comment.voteCount);
            $commentDownIcon.removeClass("stayActive");
            $commentUpIcon.addClass("stayActive");
        })

    });

    $('.container').on("click", ".commentDownvote", function(e) {
        e.preventDefault();

        let $button = $(this);
        let commentId = $button.parent().data('downvote-comment-id');
        console.log(commentId);

        let commentFormDown = $('[data-downvote-comment-id=' + commentId + ']');

        let request = $.ajax({
            url: commentFormDown.attr('action'),
            method: 'POST',
            data: commentFormDown.serialize()
        });
        request.done(function(comment) {

            let $commentUpIcon = $('[data-upvoteIcon-comment-id=' + commentId + ']');
            let $commentDownIcon = $('[data-downvoteIcon-comment-id=' + commentId + ']');
            let $commentVoteCount = $('[data-voteCount-comment-id=' + commentId + ']');

            console.log("hello from comment downvote response");
            $commentVoteCount.html(comment.voteCount);
            $commentUpIcon.removeClass("stayActive");
            $commentDownIcon.addClass("stayActive");
        })

    });


</script>
</body>
</html>