<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('Show Post')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div id="showPageWrapper">

    <div id="showPageContent" th:object="${post}">

        <h4 th:text="${post.title}" id="showPageIntro"></h4>
        <h4 th:text="${post.description}"></h4>
        <h4>posted by: <a th:href="${'/profile/' + post.user.id}"><span th:text="${post.user.username}"></span></a></h4>
        <!--<h5 id="createdDate">created: <span th:text="${#temporals.format(post.date, 'MM-dd-yyyy, h:mm a')}"></span></h5>-->
        <h5 id="createdDate">created on:
            <span th:text="${#temporals.monthNameShort(post.date)}"></span>
            <span th:text="${#temporals.day(post.date)}"></span>,
            <span th:text="${#temporals.year(post.date)}"></span> at
            <span th:text="${#temporals.format(post.date,  'h:mm a')}"></span></h5>

            <div sec:authorize="isAuthenticated()">
                <div th:if="${showEditButton}">
                    <a class="btn btn-primary" th:href="${'/posts/' + post.id + '/edit'}">Edit</a>
                </div>
            </div>

        <!--======================================= COMMENT FORM ====================================-->
        <div sec:authorize="isAuthenticated()">
            <div id="commentForm">

                <form th:action="@{/posts/show}" method="POST" th:object="${post}">
                    <textarea name="body"
                              th:field="*{post.comment.body}"
                              th:placeholder="Comment...">
                    </textarea>

                    <input class="form-control" type="hidden" name="id" th:field="*{post.comment.id}"/>
                    <a class="btn btn-primary" th:href="${'/posts/' + post.id +''}">Reply</a>
                </form>

            </div>
        </div>
        <!--======================================= COMMENT SECTION ====================================-->

            <div id="commentSection" th:each="comment : ${comments}">
                <h3>Comments Go Here</h3>

                <h3 th:text="${post.comment.body}" id="commentBody"></h3>
                    <h3>posted by: <span th:text="${user.username}"></span></h3>

                    <h5 id="createdDate">created on:
                        <span th:text="${#temporals.monthNameShort(post.date)}"></span>
                        <span th:text="${#temporals.day(post.date)}"></span>,
                        <span th:text="${#temporals.year(post.date)}"></span> at
                        <span th:text="${#temporals.format(post.date,  'h:mm a')}"></span></h5>
                </div>
            </div>


    </div>
</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>