<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="ajaxParent">

        <div class="commentWrapper" th:attr="data-edit-delete-comment-id=${comment.id}">

            <a th:href="@{/profile/{id}/{username}(id=${comment.user.id}, username=${formatter.makeSlug(comment.user.username)})}">
                <div class="commentPicWrapper">
                        <span th:if="${comment.user.profilePicture} == null">
                            <img class="profilePicComment" src="/../images/default_user.png"/>
                        </span>
                    <span th:if="${comment.user.profilePicture} != null">
                            <img class="profilePicComment" th:src="@{'/uploads/' + ${comment.user.profilePicture}}"/>
                        </span>
                </div>
            </a>

            <div class="commentInfoWrapper speech-bubble">
                <!--<h5 id="commentedBy"> commentsParents.html-->
                <h5 class="parentCommentStyling">
                    <a th:href="@{/profile/{id}/{username}(id=${comment.user.id}, username=${formatter.makeSlug(comment.user.username)})}" style="text-decoration: none;">
                        <span class="commentedByNameText" th:text="${comment.user.username}"></span>
                    </a>
                    <span class="comment-info-date-wrapper">
                        <span class="commentedByDateTime margin-right" th:text="${#temporals.format(comment.date,  'h:mm a')}"
                              style="margin-right: 0.75em;"></span>
                        <span class="commentedByDate" th:text="${#temporals.monthNameShort(comment.date)}"></span>
                        <span class="commentedByDate" th:text="${#temporals.day(comment.date)}">,</span>
                        <span class="commentedByDate" th:text="${#temporals.year(comment.date)}"></span>
                        </span>

                    <span class="comment-info-date-mobile-wrapper">
                        <div class="comment-info-mobile">
                            <span class="commentedByDateTime" th:text="${#temporals.format(comment.date,  'h:mm a')}"
                                  style="margin-right: 0.75em;"></span>
                            <span class="commentedByDate" th:text="${#temporals.monthNameShort(comment.date)}"></span>
                            <span class="commentedByDate" th:text="${#temporals.day(comment.date)}">,</span>
                            <span class="commentedByDate" th:text="${#temporals.year(comment.date)}"></span>
                        </div>
                    </span>
                </h5>

                <!-- =============================== Comment Body =========================-->

                <div class="commentBodyWrapper">

                    <!--uncomment if I want to have @Poster for the parent comments, but thinking maybe not necessary-->
                    <!--<a th:if="${isChildComment != null}" th:href="${'/profile/' + post.user.id}" th:text="${'@' + post.user.username}"></a>-->

                    <span th:text="${comment.body}" class="commentBodyText"
                        th:attr="data-comment-body-comment-id=${comment.id}">
                    </span>
                </div>

                <!-- =============================== Edit Form ============================-->

                <div class="editedCommentFormWrapper">
                    <form
                            th:action="@{/posts/comment/{commentId}/edit(commentId=${comment.id})}"
                            method="POST"
                            th:object="${comment}"
                            class="editedCommentForm hidden" id="editedCommentFormId"
                            th:attr="data-edit-form-comment-id=${comment.id}">

                            <textarea class="form-control editedCommentBodyText" name="body"
                                      th:attr="data-edit-comment-form-textarea-comment-id=${comment.id}"
                                      th:value="${comment.body}">
                            </textarea>

                        <input type="hidden" name="id" th:value="${comment.id}"/>

                        <div class="editAndDeleteBtnsRow">

                            <button class="btn btn-primary editedCommentCancelBtn">
                                CANCEL
                            </button>

                            <button class="btn btn-primary editedCommentSubmitBtn">
                                SAVE
                            </button>

                        </div>
                    </form>
                </div>

                <!-- =============================== Comment Votes =========================-->

                <div class="comment-vote-reply-options-row" th:attr="data-comment-vote-reply-options-id=${comment.id}">
                    <div class="commentVoting" th:attr="data-commentVoting-comment-id=${comment.id}">

                        <div class="upvoteDiv">

                            <div th:if="${!isLoggedIn}">
                                <i class="fas fa-thumbs-up commentVoteNotLoggedIn"></i>
                            </div>

                            <div th:if="${isLoggedIn}" >
                                <form th:action="@{/comment/upvote/{commentId}(commentId=${comment.id})}" method="POST"
                                      th:attr="data-upvote-comment-id=${comment.id}">
                                    <i th:classappend="${comment.getVoteFrom(#authentication.principal) != null &amp;&amp; comment.getVoteFrom(#authentication.principal).isUpvote()} ? stayActiveDown : commentUpvote"
                                       class="fas fa-thumbs-up commentUpvote"
                                       th:if="${isLoggedIn}" th:attr="data-upvoteIcon-comment-id=${comment.id}"></i>
                                </form>
                            </div>
                        </div>

                        <div class="voteCountDiv">
                            <h5>
                                <span class="commentVoteCount" th:text="${formatter.formatCount(comment.voteCount())}"
                                      th:attr="data-voteCount-comment-id=${comment.id}"></span>
                            </h5>
                        </div>

                        <div class="downvoteDiv">
                            <div th:if="${isLoggedIn}">
                                <form th:action="@{/comment/downvote/{commentId}(commentId=${comment.id})}" method="POST"
                                      th:attr="data-downvote-comment-id=${comment.id}">
                                    <i th:classappend="${comment.getVoteFrom(#authentication.principal) != null &amp;&amp; comment.getVoteFrom(#authentication.principal).isDownvote()} ? stayActive : commentDownvote"
                                       class="fas fa-thumbs-down commentDownvote"
                                       th:if="${isLoggedIn}" th:attr="data-downvoteIcon-comment-id=${comment.id}"></i>
                                </form>
                            </div>

                            <div th:if="${!isLoggedIn}">
                                <i class="fas fa-thumbs-down commentVoteNotLoggedIn"></i>
                            </div>

                        </div>
                    </div>

                    <!--================================== REPLY TO A COMMENT ===========================================-->
                    <!--=================================================================================================-->

                    <h5 th:if="${!isLoggedIn}" class="replyCommentNotLoggedInDiv"><span><a class="replyCommentNotLoggedInLink" th:href="${'/login'}">LOGIN</a></span></h5>

                    <div th:if="${isLoggedIn}">

                        <h5 class="showReplyTextArea" th:attr="data-show-reply-textarea-comment-id=${comment.id}">
                            <!--data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
                            <i class="fas fa-reply flipped-reply"></i> REPLY
                        </h5>
                        <h5 class="showReplyTextAreaCancel hidden" th:attr="data-cancel-reply-textarea-comment-id=${comment.id}">
                            <i class="fas fa-times"></i> CANCEL
                        </h5>

                    </div>

                    <!--==================================== EDIT AND DELETE DROPDOWN ===================================-->
                    <!--=================================================================================================-->

                    <div sec:authorize="isAuthenticated()"
                         th:attr="id=${'ellipsis_' + comment.id}" class="flex-center comment-ellipsis-div">
                        <i class="fas fa-ellipsis-h fa-lg comment-ellipsis dropdown-toggle"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">

                            <div>
                                <a class="dropdown-edit-btn" th:attr="data-edit-btn-comment-id=${comment.id}">
                                    <i class="far fa-edit"></i> edit
                                </a>
                            </div>
                            <div>
                                <form th:action="@{/posts/comment/{commentId}/delete(commentId=${comment.id})}"
                                      method="POST"
                                      th:object="${comment}"
                                      class="deleteCommentForm">

                                    <input type="hidden" name="id" th:attr="data-comment-id=${comment.id}" th:value="${comment.id}"/>

                                    <button class="dropdown-delete-btn" th:attr="data-delete-btn-comment-id=${comment.id}">
                                        <i class="fas fa-bomb"></i> delete
                                    </button>
                                </form>
                            </div>
                            <div th:if="${!comment.userIdsWhoHaveFlagged().contains(loggedInUser.getId())} and ${!comment.isOwnedBy(#authentication.principal.id)}" class="dropdown-report-btn" th:attr="data-flag-comment-id=${comment.id}">
                                <i class="fab fa-font-awesome-flag"></i> report
                            </div>

                            <div th:if="${comment.userIdsWhoHaveFlagged().contains(loggedInUser.getId())}" class="dropdown-report-btn" th:attr="data-flag-comment-id=${comment.id}">
                                <i class="fas fa-check"></i> reported
                            </div>
                        </div>
                    </div>
                </div>

                <div class="replyTextArea hidden" th:attr="id=${'replyTextArea_' + comment.id}">
                    <!--th:attr="data-wrapper-reply-textarea-comment-id=${comment.id}"-->

                    <form th:action="@{/posts/{postId}/comment/{commentId}/reply(postId=${post.id},commentId=${comment.id})}"
                          method="post"
                          th:object="${comment}"
                          th:attr="data-reply-form-comment-id=${comment.id}">
                        <div class="form-group">
                            <label for="replyFormBody"></label>

                            <textarea contenteditable="true" class="form-control replyFormBody" id="replyFormBody" name="body"
                                      th:field="*{body}"
                                      th:attr="data-reply-form-body-comment-id=${comment.id}">
                                    </textarea>

                            <input class="form-control" type="hidden" name="id" th:field="*{id}"/>
                            <button class="btn btn-primary commentReplyBtn"
                                    th:attr="data-reply-submit-btn-comment-id=${comment.id}">
                                <i class="far fa-comment-alt"></i> Reply
                            </button>
                            <div class="repliesErrorAJAX" th:attr="data-reply-error-comment-id=${comment.id}"></div>
                        </div>
                    </form>
                </div>
            </div><!--end of commentInfoWrapper-->
        </div>
        <!--<hr class="commentHR"/>-->

        <!--SHOW CHILD COMMENTS UNDERNEATH PARENT COMMENT:-->
        <div class="eachChildCommentDiv" th:each="child : ${comment.getChildrenComments()}">
            <div class="child-comment" th:include="fragments/comments :: ajaxComment(comment=${child})"></div>
        </div>

        <!--ALL NEW CHILD COMMENTS COMING IN ARE APPENDED HERE-->
        <div class="childCommentDiv" th:attr="data-child-node-comment-id=${comment.id}"></div>

</th:block>
</body>
</html>