<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header :: my-header">
</head>
<body>

<div th:fragment="my-navbar">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/posts">
                    <img id="header-icon" src="/images/celtic-harp-24-8526.png"/> Harper's Geekly
                </a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <form th:action="@{/posts/search}" method="GET" class="navbar-form">
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="Search" name="term" id="srch-term" type="text"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="searchSubmitBtn" type="submit"><i id="searchBtnIcon" class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li>
                        <a href="/posts">
                            <i class="fas fa-nav fa-comments"></i> All Posts
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a href="/posts/create">
                            <i class="fas fa-nav fa-comment"></i> Create New Post
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile">
                            <i class="fas fa-nav fa-user-circle"></i>
                            <!--<span th:text="${#authentication.principal.username}"></span>'s Profile-->
                            <span sec:authentication="principal.username"/>'s Profile
                        </a>
                    </li>

                    <!--<li><a href="/roll-dice">Roll Dice</a></li>-->

                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <button id="logout" class="btn btn-link">
                                <i class="fas fa-nav fa-hand-scissors"></i> Logout
                            </button>
                        </form>
                    </li>

                    <li sec:authorize="!isAuthenticated()">
                        <a href="/register">
                            <i class="fas fa-nav fa-users"></i> Register
                        </a>
                    </li>

                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login">
                            <i class="fas fa-nav fa-sign-in-alt"></i> Login
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div style="
    overflow: scroll;
    position: fixed;
    z-index: 999;
    background-color: #7de3d2;
-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);">

        <div style="
        height: 40px;
        -webkit-clip-path: polygon(0 0, 100% 0%, 25% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 25% 100%, 0 100%);
        z-index: 5;
        background-color: #FCD581;">
        </div>

        <div style="
        margin-top: -100px;
    height: 100px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 50%, 0 0);
    z-index: 6;
    background-color: hotpink;">
        </div>

    </div>




    <!--<div class="indexCategoriesListWrapper">-->
        <!--<a class="indexEachCategory" th:each="category : ${categories}" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>-->
    <!--</div>-->
</div>
</body>
</html>