<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div th:fragment="my-navbar">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand flex-center" th:href="@{/posts}">
                    <!--<img id="header-icon" src="/images/celtic-harp-24-8526.png"/>-->
                    <h1 class="navbar-brand-text">To Geek Is Human</h1>
                </a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <form th:action="@{/posts/search}" method="GET" class="navbar-form">
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="Search" name="term" id="srch-term" type="text"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="searchSubmitBtn" type="submit"><i id="searchBtnIcon" class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                            <!--<li sec:authorize="isAuthenticated()" class="flex-center">-->
                                <!--<a th:href="@{/logout}" th:method="post" class="float-left">-->
                                    <!--<span class="flex-center">-->
                                        <!--<span class="dot flex-center margin-right-lite"></span>Logout-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li>
                        <a th:href="@{/posts/archived}">
                            <!--<i class="fas fa-table nav-icon"></i> -->
                            All Posts
                        </a>
                    </li>

                    <th:block sec:authorize="isAuthenticated()">
                        <th:block sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                            <li>
                                <a th:href="@{/posts/create}">
                                    <!--<i class="fas fa-pen-nib nav-icon"></i> -->
                                    Create New Post
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">
                        <li>
                            <a th:href="'/profile/' + ${#authentication.principal.id} + '/' + ${formatter.makeSlug(#authentication.principal.username)}">
                                <!--<i class="fas fa-footer fa-user-circle"></i>-->
                                <span th:text="${#authentication.principal.username}"></span>'s Profile
                            </a>
                        </li>
                    </th:block>

                    <!--<li><a href="/roll-dice">Roll Dice</a></li>-->

                    <th:block sec:authorize="isAuthenticated()">
                        <li class="flex-center">
                            <a th:href="@{/logout}" th:method="post" class="float-left">
                                <span class="flex-center">
                                    <span class="dot flex-center margin-right-lite"></span>
                                    Logout
                                </span>
                            </a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="!isAuthenticated()">
                        <li>
                            <a th:href="@{/register}">
                                <!--<i class="fas fa-users nav-icon"></i> -->
                                Register
                            </a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="!isAuthenticated()">
                        <li>
                            <a th:href="@{/login}">
                                <!--<i class="fas fa-sign-in-alt nav-icon"></i> -->
                                Login
                            </a>
                        </li>
                    </th:block>

                </ul>
            </div>
        </div>
    </nav>

    <div style="
    overflow: scroll;
    position: fixed;
    z-index: 999;
    background-color: #7de3d2;
-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);">

        <div style="
        height: 40px;
        -webkit-clip-path: polygon(0 0, 100% 0%, 25% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 25% 100%, 0 100%);
        z-index: 5;
        background-color: #FCD581;">
        </div>

        <div style="
        margin-top: -100px;
    height: 100px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 50%, 0 0);
    z-index: 6;
    background-color: hotpink;">
        </div>

    </div>

    <!--<div class="indexCategoriesListWrapper">-->
    <!--<a class="indexEachCategory" th:each="category : ${categories}" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>-->
    <!--</div>-->
</div>
</body>
</html>