<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="ajaxPosts">

    <div class="content" th:each="post : ${nextResultSet}">
            <!--<div class="postPicWrapper">-->
                <!--&lt;!&ndash;<span th:if="${post.user.profilePicture} == null">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profilePicPostIndex" src="/../images/user.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span th:if="${post.user.profilePicture} != null">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profilePicPostIndex" th:src="@{'/uploads/' + ${post.user.profilePicture}}"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="postInfoWrapper">-->

                <div class="secretAjaxClass">

                    <th:block th:fragment="post">
                        <div>
                            <a th:href="@{/posts/{id}(id=${post.id})}">
                                <h4 th:utext="${post.htmlTitle}" class="postTitle"></h4>
                            </a>

                            <div class="post-tags-div">
                                <a class="post-tag" th:each="tag : ${post.getCategories()}" th:text="${tag.name}" th:href="@{/posts/search(term=${tag.name})}"></a>
                            </div>

                            <div class="postedByWrapper">By: <a class="postedByNameTextIndex" th:href="@{/profile/{id}(id=${post.user.id})}">
                                <span th:text="${post.user.username}"></span></a>
                                <span class="postedByDateTime" th:text="${#temporals.format(post.date, 'h:mm a')}"></span>
                                <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
                                <span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>
                                <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
                            </div>
                            <div>
                                <i class="fas fa-thumbs-up postUpVoteIconIndex"></i>
                                <h5 class="postVoteCountIndex" th:text="${post.voteCount()}"></h5>
                                <i class="fas fa-comments postCommentIconIndex"></i>
                                <h5 class="postCommentSizeIndex" th:text="${post.getComments().size()}"></h5>
                            </div>
                        </div>

                        <a th:href="@{/posts/{id}(id=${post.id})}">
                            <div class="postDescription hidden">
                                <p th:utext="${post.htmlImage}"></p>
                            </div>
                        </a>

                        <div class="post-subtitle">
                            <p th:utext="${post.htmlSubtitle}"></p>
                        </div>

                        <!--<div th:each="image : ${post.postImage}">-->
                        <!--<img th:src="${image.path}"/>-->
                        <!--</div>-->

                        <!--<div class="gradientBox">-->
                        <!--&lt;!&ndash;<a th:href="@{/posts/{id}(id=${post.id})}">&ndash;&gt;-->
                        <!--<div class="postDescription hidden">-->
                        <!--<p th:utext="${post.htmlDescription}"></p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->

                        <!--<div class="read-more-div">-->
                        <!--<i class="fas fa-hand-point-right fa-read-more"></i>-->
                        <!--<a class="read-more" th:href="@{/posts/{id}(id=${post.id})}">continue reading...</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <hr class="posts-hr"/>
                    </th:block>
            </div>
    </div>
</th:block>
</body>
</html>
