<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="ajaxPosts">

    <div class="content" th:each="post : ${nextResultSet}">
            <!--<div class="postPicWrapper">-->
                <!--&lt;!&ndash;<span th:if="${post.user.profilePicture} == null">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profilePicPostIndex" src="/../images/default_user.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span th:if="${post.user.profilePicture} != null">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profilePicPostIndex" th:src="@{'/uploads/' + ${post.user.profilePicture}}"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="postInfoWrapper">-->

                <div class="secretAjaxClass">

                    <th:block th:fragment="post">
                        <header class="indent">
                            <a th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                                <h1 th:utext="${post.htmlTitle}" class="postTitle"></h1>
                            </a>

                            <!--<div class="post-tags-div">-->
                                <!--<a class="post-tag" th:each="tag : ${post.getCategories()}" th:text="${tag.name}" th:href="@{/posts/search(term=${tag.name})}"></a>-->
                            <!--</div>-->

                            <div class="postedByWrapper">By: <a class="postedByNameTextIndex" th:href="@{/profile/{id}/{username}(id=${post.user.id}, username=${formatter.makeSlug(post.user.username)})}">
                                <span th:text="${post.user.username}"></span></a>
                                <span class="postedByDateTime" th:text="${#temporals.format(post.date, 'h:mm a')}"></span>
                                <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
                                <span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>
                                <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
                            </div>
                            <div>
                                <i class="fas fa-thumbs-up post-info-fa-icon"></i>
                                <h5 class="post-info-count" th:text="${formatter.formatCount(post.voteCount())}"></h5>
                                <i class="fas fa-comments post-info-fa-icon"></i>
                                <h5 class="post-info-count" th:text="${formatter.formatCount(post.getComments().size())}"></h5>
                                <i class="fas fa-eye post-info-fa-icon"></i>
                                <h5 class="post-info-count" th:text="${post.hitCount != null} ? ${formatter.formatCount(post.hitCount.postCount)} : '0'"></h5>

                            </div>
                        </header>

                        <a th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                            <div class="postDescription hidden">
                                <p th:utext="${post.htmlImage}"></p>
                            </div>
                        </a>

                        <div class="post-subtitle indent">
                            <p th:utext="${post.htmlSubtitle}"></p>
                        </div>


                        <!-- ====================================== Post Edit and Delete Buttons =====================-->

                        <!--<div th:if="${isPostOwner} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
                            <!--<i class="fas fa-ellipsis-h fa-lg comment-ellipsis dropdown-toggle"-->
                               <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--</i>-->
                            <!--<div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">-->
                                <!--<div>-->
                                    <!--<a class="dropdown-edit-btn"  th:href="${'/posts/' + post.id + '/edit'}">-->
                                        <!--<i class="far fa-edit"></i> edit-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post" class="deleteCommentForm">-->
                                        <!--<button class="dropdown-delete-btn" type="submit">-->
                                            <!--<i class="fas fa-bomb"></i> delete-->
                                        <!--</button>-->
                                    <!--</form>-->
                                <!--</div>-->

                                <!--<div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!post.isDisabled()}" class="deleteCommentForm">-->
                                    <!--<form th:action="@{'/posts/' + ${post.id} + '/disable'}" method="post">-->
                                        <!--<button class="dropdown-delete-btn">-->
                                            <!--<i class="fas fa-lock"></i> disable-->
                                        <!--</button>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--<div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${post.isDisabled()}" class="deleteCommentForm">-->
                                    <!--<form th:action="@{'/posts/' + ${post.id} + '/enable'}" method="post">-->
                                        <!--<button class="dropdown-delete-btn">-->
                                            <!--<i class="fas fa-lock-open"></i> enable-->
                                        <!--</button>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <hr class="posts-hr"/>
                    </th:block>
            </div>
    </div>
</th:block>
</body>
</html>
