<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar">

    <div class="popularityWrapper">

        <th:block th:fragment="sidebar-content">
            <h4 class="popularityHeader">Tags</h4>
            <div class="eachPopularSection">
                <div class="sidebar-category-tags-wrapper">
                    <div class="sidebar-category-tags">
                        <a th:href="@{/posts}"><i class="fas fa-home margin-right-lite"></i>Home</a>
                    </div>
                    <div class="sidebar-category-tags" th:each="category : ${categories}">
                        <a class="tag" th:attr="data-tag-name=${category.name}" th:text="${category.name}"></a>
                        <!--th:href="@{/posts/search(term=${category.name})}"-->

                    </div>
                </div>
            </div>

            <h4 class="popularityHeader">Popular Posts</h4>
            <div class="eachPopularSection">

                <div class="eachPopularPost" th:each="post : ${mostViewedPosts}">

                    <!--<div class="popularPostCountsWrapper">-->
                    <!--<i class="fa fa-eye popularPostCountIcon"></i>-->
                    <!--<h5 class="popularPostCount" th:text="${post.hitCount != null} ? ${post.hitCount.postCount} : '0'"></h5>-->
                    <!--</div>-->

                    <div class="popularPostTitleWrapper">

                        <!--<div class="popularPostCountsWrapper">-->
                            <!--<i class="fa fa-eye popularPostCountIcon"></i>-->
                            <!--<h5 class="popularPostCount" th:text="${post.hitCount != null} ? ${post.hitCount.postCount} : '0'"></h5>-->
                        <!--</div>-->
                        <a th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                            <div class="postDescription side-bar hidden">
                                <p th:utext="${post.htmlImage}"></p>
                            </div>
                        </a>
                        <a class="popularTitleLink" th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                            <!--<h4 class="popularTitleText" th:text="${post.title}"></h4>-->
                            <!--markdown title:-->
                            <h4 class="popularTitleText" th:utext="${post.htmlTitle}"></h4>
                        </a>
                    </div>

                    <div class="popularPostUserWrapper">
                        <a class="popularNamesLink" th:href="@{/profile/{id}/{username}(id=${post.user.id}, username=${formatter.makeSlug(post.user.username)})}">
                            <span style="color:darkgray">by: </span><span th:text="${post.user.username}"></span>
                        </a>
                    </div>
                </div>
            </div>

            <h4 class="popularityHeader">Most Discussed</h4>
            <div class="eachPopularSection">

                <div class="eachPopularPost" th:each="post : ${mostCommentedPosts}">

                    <!--<div class="popularPostCountsWrapper">-->
                        <!--<i class="fas fa-comments popularPostCountIcon"></i>-->
                        <!--<h5 class="popularPostCount" th:text="${post.getComments().size()}"></h5>-->
                    <!--</div>-->
                        <div class="popularPostCountsWrapper">
                            <i class="fas fa-comments popularPostCountIcon"></i>
                            <h5 class="popularPostCount" th:text="${formatter.formatCount(post.getComments().size())}"></h5>
                        </div>

                    <div class="popularPostTitleWrapper">


                        <a class="popularTitleLink" th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                            <!--<h4 class="popularTitleText" th:text="${post.title}"></h4>-->
                            <!--markdown title:-->
                            <h4 class="popularTitleText" th:utext="${post.htmlTitle}"></h4>
                        </a>
                    </div>

                    <div class="popularPostUserWrapper">
                        <a class="popularNamesLink" th:href="@{/profile/{id}/{username}(id=${post.user.id}, username=${formatter.makeSlug(post.user.username)})}">
                            <span style="color:darkgray">by: </span><span th:text="${post.user.username}"></span>
                        </a>
                    </div>
                </div>



            </div>


            <h4 class="popularityHeader">Top Rated Posts</h4>
            <div class="eachPopularSection">

                <div class="eachPopularPost" th:each="post : ${mostLikedPosts}">

                    <div class="popularPostTitleWrapper">

                        <div class="popularPostCountsWrapper">
                            <i class="fas fa-thumbs-up popularPostCountIcon"></i>
                            <h5 class="popularPostCount" th:text="${formatter.formatCount(post.voteCount())}"></h5>
                        </div>

                        <a class="popularTitleLink" th:href="@{/posts/{id}/{title}(id=${post.id}, title=${formatter.makeSlug(post.title)})}">
                            <h4 class="popularTitleText" th:utext="${post.htmlTitle}"></h4>
                        </a>
                    </div>

                    <div class="popularPostUserWrapper">
                        <a class="popularNamesLink" th:href="@{/profile/{id}/{username}(id=${post.user.id}, username=${formatter.makeSlug(post.user.username)})}">
                            <span style="color:darkgray">by: </span><span th:text="${post.user.username}"></span>
                        </a>
                    </div>
                </div>

            </div>

            <h4 class="popularityHeader">Top Rated Users</h4>
            <div class="eachPopularSection">
                <div class="popularUsers">

                    <div class="popularKarmas">
                        <div th:each="karma : ${karmas}">
                            <i class="fas fa-hand-peace karma-icon-index-page"></i>
                            <span th:text="${formatter.formatCount(karma)}"></span>
                        </div>
                    </div>

                    <div class="popularNames">
                        <div th:each="user : ${popularUsers}">
                            <a class="popularNamesLink" th:href="@{/profile/{id}/{username}(id=${user.id}, username=${formatter.makeSlug(user.username)})}">
                                <span th:text="${user.username}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </th:block>
    </div>

</th:block>

<!--====================================================== SIDEBAR FOR MOBILE ==========================================-->
<!--====================================================================================================================-->

<th:block th:fragment="sidebar-mobile">

    <div class="popularityWrapperMobile">

        <th:block th:include="fragments/sidebar :: sidebar-content"></th:block>

    </div>

</th:block>
</body>
</html>