<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!-- ============== HOW AN OLD POST USED TO LOOK ==============================-->

<!--<div class="indent">-->
    <!--<a th:href="@{/posts/{id}(id=${post.id})}">-->
        <!--&lt;!&ndash;<h4 th:utext="${post.getHtmlTitle()}" class="postTitle"></h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<h4 th:utext="${post.titleToUppercase(post.getHtmlTitle())}" class="postTitle"></h4>&ndash;&gt;-->
        <!--<h4 th:utext="${post.htmlTitle}" class="postTitle"></h4>-->
    <!--</a>-->

    <!--<div class="post-tags-div">-->
        <!--<a class="post-tag" th:each="tag : ${post.getCategories()}" th:text="${tag.name}" th:href="@{/posts/search(term=${tag.name})}"></a>-->
    <!--</div>-->

    <!--<div>By: <a class="postedByNameTextIndex" th:href="@{/profile/{id}(id=${post.user.id})}">-->
        <!--<span th:text="${post.user.username}"></span></a>-->
        <!--<span class="postedByDateTime" th:text="${#temporals.format(post.date,  'h:mm a')}"></span>-->
        <!--<span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>-->
        <!--<span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>-->
        <!--<span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>-->
    <!--</div>-->
    <!--<div>-->
        <!--<i class="fas fa-thumbs-up postUpVoteIconIndex"></i>-->
        <!--<h5 class="postVoteCountIndex" th:text="${post.voteCount()}"></h5>-->
        <!--<i class="fas fa-comments postCommentIconIndex"></i>-->
        <!--<h5 class="postCommentSizeIndex" th:text="${post.getComments().size()}"></h5>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<div th:each="image : ${post.postImage}">&ndash;&gt;-->
<!--&lt;!&ndash;<img th:src="${image.path}"/>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="gradientBox">-->
    <!--<div class="postDescription hidden">-->
        <!--<p th:utext="${post.htmlDescription}"></p>-->
    <!--</div>-->

    <!--<div class="read-more-div">-->
        <!--<i class="fas fa-hand-point-right fa-read-more"></i>-->
        <!--<a class="read-more" th:href="@{/posts/{id}(id=${post.id})}">continue reading...</a>-->
    <!--</div>-->
<!--</div>-->
<!--<h5 id="createdDate">created: <span th:text="${#temporals.format(post.date, 'MM-dd-yyyy, h:mm a')}"></span></h5>-->
<!--</div>-->
<!--// wanna use a button to send to edit here? -->
<!--<button> <a th:href="@{/posts/{id}/edit(id=${post.id})}"  th:text="${'Edit: ' + post.title}"></a></button>-->
<!--</div>-->

<!--</div>-->
<!--<hr class="commentHR"/>-->

<!--============== SUPER COOL WAY TO USE THYMELEAF TO STYLE USING A PATH TO IMAGE======================-->

<!--th:style="'background:url(' + @{'/uploads/' + ${#authentication.principal.username} + .png} + ')
    no-repeat center center fixed; background-size: cover;'"-->

<!-- ====================================== Post Edit and Delete Buttons ==============================-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--<div th:if="${isPostOwner}">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm">-->
<!--<a id="editPostBtn" th:href="${'/posts/' + post.id + '/edit'}">-->
<!--<i class="far fa-edit"></i> edit-->
<!--</a>-->

<!--<form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">-->
<!--<button type="submit" id="deletePostBtn">-->
<!--<i class="fas fa-bomb"></i> delete-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!-- ================================= REPLY TEXT AREA OLD WAY BEFORE SINGLE ROW ==============================-->

<!--<div class="replyTextArea hidden" th:attr="data-wrapper-reply-textarea-comment-id=${comment.id}">-->
<!--<form th:action="@{/posts/{postId}/comment/{commentId}/reply(postId=${post.id},commentId=${comment.id})}"-->
<!--method="post"-->
<!--th:object="${comment}"-->
<!--th:attr="data-reply-form-comment-id=${comment.id}">-->
<!--<div class="form-group">-->
<!--<label for="replyFormBody"></label>-->

<!--&lt;!&ndash;<div contenteditable="true">&ndash;&gt;-->
<!--<textarea contenteditable="true" class="form-control replyFormBody" id="replyFormBody" name="body"-->
<!--th:field="*{body}"-->
<!--th:attr="data-reply-form-body-comment-id=${comment.id}">-->
<!--</textarea>-->

<!--<input class="form-control" type="hidden" name="id" th:field="*{id}"/>-->
<!--<button class="btn btn-primary commentReplyBtn"-->
<!--th:attr="data-reply-submit-btn-comment-id=${comment.id}">-->
<!--<i class="far fa-comment-alt"></i> Reply-->
<!--</button>-->
<!--<div class="repliesErrorAJAX" th:attr="data-reply-error-comment-id=${comment.id}"></div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<!-- ================================= SHOW PAGE OLD EDIT AND DELETE ROW BEFORE DROPDOWN =====================-->

<!--<div class="editAndDeleteWrapper">-->
<!--<div class="row">-->
<!-- Edit button is an event trigger. There is no form here. -->
<!--<div class="commentEdit" sec:authorize="isAuthenticated()"-->
<!--th:if="${comment.isOwnedBy(#authentication.principal.id)}">-->
<!--<a class="editCommentBtn" th:attr="data-edit-btn-comment-id=${comment.id}">-->
<!--<i class="far fa-edit"></i> edit-->
<!--</a>-->
<!--</div>-->
<!--<div class="commentDelete" sec:authorize="isAuthenticated()">-->
<!--<form th:if="${comment.isOwnedBy(#authentication.principal.id)}"-->
<!--th:action="@{/posts/{postId}/comment/{commentId}/delete(postId=${post.id}, commentId=${comment.id})}"-->
<!--method="POST"-->
<!--th:object="${comment}"-->
<!--class="deleteCommentForm">-->

<!--<input type="hidden" name="id" th:attr="data-comment-id=${comment.id}"-->
<!--th:value="${comment.id}"/>-->
<!--&lt;!&ndash;<input type="hidden" name="id" id="deleteCommentBtn" th:value="${comment.id}"/>&ndash;&gt;-->
<!--<button class="deleteCommentBtn" th:attr="data-delete-btn-comment-id=${comment.id}">-->
<!--<i class="fas fa-bomb"></i> delete-->
<!--</button>-->
<!--&lt;!&ndash;<i class="fas fa-bomb"></i>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="submit" value="delete" class="deleteCommentBtn"/>&ndash;&gt;-->
<!--</form>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!-- ================================= POST's PROFILE PICTURE ======================================-->

<!--<div class="postWrapper">-->
<!--<div class="postPicWrapper">-->
<!--&lt;!&ndash;<span th:if="${post.user.profilePicture} == null">&ndash;&gt;-->
<!--&lt;!&ndash;<img class="profilePicPostIndex" src="/../images/user.png"/>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span th:if="${post.user.profilePicture} != null">&ndash;&gt;-->
<!--&lt;!&ndash;<img class="profilePicPostIndex" th:src="@{'/uploads/' + ${post.user.profilePicture}}"/>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--</div>-->

<!--<div class="postInfoWrapper">-->

<!--======================  UNSUSED CATEGORY LISTER ORIGINALLY LOCATED ON TOP OF PAGE ==================-->

<!--<div class="indexCategoriesListWrapper">-->
    <!--<a class="indexEachCategory" th:each="category : ${categories}" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>-->
<!--</div>-->

<!-- ======================  UNSUSED CATEGORY DROPDOWN FOR MOBILE LOCATED ON TOP OF PAGE ==================-->
<!--<div class="dropdown btn-group">-->
    <!--<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--<span>Categories</span><i class="fas fa-caret-down categoriesDropdownDown"></i>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
        <!--<li class="navDropdownEachCategory" th:field="*{categories}" th:each="category : ${categories}">-->
            <!--<a class="navDropdownCategoryLink" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!-- ================================================================================================================-->
<!-- =========================================== PAGINATION =========================================================-->
<!-- ================================================================================================================-->

<!--<nav class="text-center">-->
<!--<ul class="pagination">-->

<!--<li th:class="${page.isFirst()}? 'disabled' : ''">-->
<!--<span th:if='${page.isFirst()}'>← First</span>-->
<!--<a th:if='${not page.isFirst()}' th:href="'?page=0'">-->
<!--← First-->
<!--</a>-->
<!--</li>-->
<!--<li th:class="${page.hasPrevious()}? '' : 'disabled'">-->
<!--<span th:if='${not page.hasPrevious()}'>«</span>-->
<!--<a-->
<!--th:if='${page.hasPrevious()}'-->
<!--th:href="'?page=' + ${page.getNumber() - 1}"-->
<!--title='Go to previous page'-->
<!--&gt;-->
<!--«-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash;<li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">&ndash;&gt;-->
<!--<li th:each="i : ${#numbers.sequence(page.getNumber(), page.getTotalPages())}">-->
<!--<span-->
<!--th:if='${(i - 1) == param.page}'-->
<!--th:text='${i}'>-->
<!--1-->
<!--</span>-->
<!--<a-->
<!--th:if='${not ((i - 1) == param.page)}'-->
<!--th:href="'?page=' + ${(i -1)}"-->
<!--&gt;-->
<!--<span th:text='${i}'>1</span>-->
<!--</a>-->
<!--</li>-->
<!--<li th:class="${page.hasNext()} ? '' : 'disabled'">-->
<!--<span th:if='${not page.hasNext()}'>»</span>-->
<!--<a-->
<!--th:if='${page.hasNext()}'-->
<!--th:href="'?page=' + ${page.getNumber() + 1}"-->
<!--title='Go to next page'-->
<!--&gt;-->
<!--»-->
<!--</a>-->
<!--</li>-->
<!--<li th:class="${page.isLast()}? 'disabled' : ''">-->
<!--<span th:if='${page.isLast()}'>Last →</span>-->
<!--<a-->
<!--th:if='${not page.isLast()}'-->
<!--th:href="'?page=' + ${page.getTotalPages() - 1}"-->
<!--&gt;-->
<!--Last →-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->