<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('To Geek Is Human - Admin Dashboard')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<header class="flex-center">
    <h2 class="archivedPostsWelcome">Admin Dashboard</h2>
</header>

<div class="jumbotron">
    <p class="lead flex-center">Welcome to the admin dashboard. Below you can edit, delete, disable posts or users, and manage flagged comments.</p>
</div>

<div class="container">
    <h2><i class="fas fa-users margin-right-lite"></i>Users</h2>
    <div class="preloader"></div>
    <span class="archive-table hidden">
    <div class="table-responsive">
        <table style="table-layout: fixed;" id="dtUsers" data-toggle="table" class="table table-sm" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th class="">
                    <i class="fas fa-user-circle post-info-fa-icon margin-right-lite"></i>Username
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>

                <th class="">
                    <i class="far fa-handshake post-info-fa-icon margin-right-lite"></i>Joined
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="far fa-hand-peace post-info-fa-icon margin-right-lite"></i>Karma
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="fas fa-lock post-info-fa-icon margin-right-lite"></i> Status
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class=""><i class="fas fa-wrench post-info-fa-icon margin-right-lite"></i>Options</th>
                <th class=""><i class="fas fa-wrench post-info-fa-icon margin-right-lite"></i>Role</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a class="popularTitleLink" th:href="@{/profile/{id}/{username}(id=${user.id}, title=${formatter.makeSlug(user.username)})}">
                        <h4 class="popularTitleText" th:text="${user.username}"></h4>
                    </a>
                </td>
                <td>
                    <span class="postedByDate" th:text="${#temporals.monthNameShort(user.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.day(user.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.year(user.date)}"></span>
                    <span class="postedByDateTime" th:text="${#temporals.format(user.date, 'h:mm a')}"></span>
                </td>

                <td>
                    <h5 class="post-info-count" th:text="${formatter.formatCount(usersDao.totalKarmaByUser(user.getId()))}"></h5>
                </td>

                <td th:if="${user.isBanned()}">
                    <h5 class="admin-dash-banned">BANNED</h5>
                </td>

                <td th:if="${!user.isBanned()}">
                    <h5 class="admin-dash-not-banned">-------</h5>
                </td>

                <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <i class="fas fa-ellipsis-h fa-lg comment-ellipsis dropdown-toggle"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">
                        <div>
                            <a class="dropdown-edit-btn"  th:href="${'/profile/' + user.id + '/edit'}">
                                <i class="far fa-edit"></i> edit
                            </a>
                        </div>
                        <div>
                            <form th:action="@{'/profile/' + ${user.id} + '/delete'}" method="post" class="deleteCommentForm">
                                <button class="dropdown-delete-btn" type="submit">
                                    <i class="fas fa-bomb"></i> delete
                                </button>
                            </form>
                        </div>

                        <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!user.isBanned()}" class="deleteCommentForm">
                            <form th:action="@{'/profile/' + ${user.id} + '/ban'}" method="post">
                                <button class="dropdown-delete-btn">
                                    <i class="fas fa-lock"></i> ban
                                </button>
                            </form>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${user.isBanned()}" class="deleteCommentForm">
                            <form th:action="@{'/profile/' + ${user.id} + '/unban'}" method="post">
                                <button class="dropdown-delete-btn">
                                    <i class="fas fa-lock-open"></i> unban
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="flex">
                    <div th:attr="data-user-id=${user.id}" th:text="${rolesDao.findRoleByUserId(user.getId())}"
                         class="roles-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </div>
                    <span class="margin-left">&#9661;</span>
                    <div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">
                        <div>
                            <form th:attr="data-form-grant-admin-id=${user.id}"
                                  class="dropdown-edit-btn roles-dropdown-select-admin"
                                  th:action="${'/admin/dashboard/grant-admin/' + user.id}" method="post">
                                <i class="far fa-edit"></i> GRANT: Admin (ROLE_ADMIN)
                            </form>
                        </div>

                        <div>
                            <form th:attr="data-form-grant-editor-id=${user.id}"
                                  class="dropdown-edit-btn roles-dropdown-select-editor"
                                  th:action="${'/admin/dashboard/grant-editor/' + user.id}" method="post">
                                <i class="far fa-edit"></i> GRANT: Editor (ROLE_EDITOR)
                            </form>
                        </div>

                        <div>
                            <form th:attr="data-form-grant-user-id=${user.id}"
                                  class="dropdown-edit-btn roles-dropdown-select-user"
                                  th:action="${'/admin/dashboard/grant-user/' + user.id}" method="post">
                                <i class="far fa-edit"></i> GRANT: User (ROLE_USER)
                            </form>
                        </div>

<!-->
<!-->

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</span>
</div>

<hr/>

<div class="container">
    <h2><i class="fas fa-comments margin-right-lite"></i>Posts</h2>
    <th:block th:include="posts/archivedPosts :: posts-table"></th:block>
</div>

<hr/>

<div class="container">
    <h2><i class="fab fa-font-awesome-flag margin-right-lite"></i>Flagged Comments</h2>
    <div class="preloader"></div>
    <span class="archive-table hidden">
    <div class="table-responsive">
        <table style="table-layout: fixed;" id="dtFlaggedComments" data-toggle="table" class="table table-sm" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th class="">
                    <i class="fas fa-user-circle post-info-fa-icon margin-right-lite"></i>Author
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>

                <th class="">
                    <i class="fas fa-comment-alt post-info-fa-icon margin-right-lite"></i>Body
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="">
                    <i class="fas fa-flag post-info-fa-icon margin-right-lite"></i>Flag Count
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class=""><i class="fas fa-wrench post-info-fa-icon margin-right-lite"></i>Options</th>

            </tr>
            </thead>
            <tbody>
                <tr th:each="comment : ${flaggedComments}">
                    <td>
                        <span th:text="${comment.user.username}"></span>
                    </td>
                    <td>
                        <span th:text="${comment.body}"></span>
                    </td>
                    <td>
                        <span th:text="${commentsFlagsDao.countCommentFlagByCommentId(comment.id)}"></span>
                    </td>
                    <td>
                        <i class="fas fa-ellipsis-h fa-lg comment-ellipsis dropdown-toggle"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu edit-delete-dropdown" aria-labelledby="dropdownMenu">
                            <div>
                                <a class="dropdown-edit-btn"  th:href="${'/posts/comment/' + comment.id + '/edit'}">
                                    <i class="far fa-edit"></i> edit
                                </a>
                            </div>
                            <div>
                                <form th:action="@{'/posts/comment/' + comment.id + '/delete'}" method="post" class="deleteCommentForm">
                                    <button class="dropdown-delete-btn" type="submit">
                                        <i class="fas fa-bomb"></i> delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </span>
</div>

<footer th:include="fragments/footer :: my-footer"></footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
<script>

    $(document).ready(function () {

        let container = $('.container');

        container.on('click', '.roles-dropdown-select-admin', function() {
            let button = $(this);
            let userId = button.data('form-grant-admin-id');
            let grantAdminForm = $('[data-form-grant-admin-id=' + userId + ']');
            let request = $.ajax({
                url: grantAdminForm.attr('action'),
                method: 'POST',
                dataType: 'json',
                data: grantAdminForm.serialize()
            });
            request.done(function(userRole) {
                let rolesDropdownText = $('[data-user-id=' + userId + ']');
                rolesDropdownText.html(userRole.role);
            })
        });

        container.on('click', '.roles-dropdown-select-editor', function() {
            let button = $(this);
            let userId = button.data('form-grant-editor-id');
            let grantEditorForm = $('[data-form-grant-editor-id=' + userId + ']');
            let request = $.ajax({
                url: grantEditorForm.attr('action'),
                method: 'POST',
                dataType: 'json',
                data: grantEditorForm.serialize()
            });
            request.done(function(userRole) {
                let rolesDropdownText = $('[data-user-id=' + userId + ']');
                rolesDropdownText.html(userRole.role);
            })
        });

        container.on('click', '.roles-dropdown-select-user', function() {
            let button = $(this);
            let userId = button.data('form-grant-user-id');
            let grantUserForm = $('[data-form-grant-user-id=' + userId + ']');
            let request = $.ajax({
                url: grantUserForm.attr('action'),
                method: 'POST',
                dataType: 'json',
                data: grantUserForm.serialize()
            });
            request.done(function(userRole) {
                let rolesDropdownText = $('[data-user-id=' + userId + ']');
                rolesDropdownText.html(userRole.role);
            })
        });


        $('.preloader').fadeOut('slow',function(){
            $(this).remove();
            $('.archive-table').removeClass('hidden');
        });
        $('#dtBasicExample').DataTable({
            // responsive: true,
            "order": [[ 5, "desc" ]], // this sorts a desired column. In this case, date. zero-based
            "pageLength": 6
        });
        $('#dtUsers').DataTable({
            // responsive: true,
            "order": [[ 0, "asc" ]], // this sorts a desired column. In this case, Username. zero-based
            "pageLength": 6
        });
        $('#dtFlaggedComments').DataTable({
            // responsive: true,
            "order": [[ 2, "desc" ]], // this sorts a desired column. In this case, Flag count. zero-based
            "pageLength": 6
        });

        // https://datatables.net/blog/2014-12-18
        // https://datatables.net/blog/2014-12-18


    });
</script>
</body>
</html>