<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Change Password')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">

    <h1 style="margin-top: 50px;">Update Your Password:</h1>

    <div id="editPasswordFormWrapper">
        <form th:action="@{'/profile/' + ${user.id} + '/editPassword'}" method="POST" th:object="${user}" id="editPasswordForm">

            <div class="form-group">
                <label for="editFormPassword">Password</label>
                <input type="password" id="editFormPassword" name="password" class="form-control" th:field="*{password}"/>

            </div>

            <div class="form-group">
                <label for="password_confirm">Confirm your password</label>
                <input type="password" id="password_confirm" name="password_confirm" class="form-control" />
            </div>
                    <div
                        th:if="${#fields.hasErrors('password')}"
                        class="alert alert-danger alert-dismissible"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:errors="*{password}"/>
                    </div>

            <!--These fields are needed to be present (hidden) in order to fully update profile information.-->
            <!--If not present, for example, a change of password would delete the users profile picture.-->
            <input type="hidden" id="editFormUsername" name="username" class="form-control" th:value="${user.username}"/>
            <input type="hidden" id="editFormEmail" name="email" class="form-control" th:value="${user.email}"/>
            <input type="hidden" id="editFormDate" name="date" class="form-control" th:field="*{date}"/>
            <input type="hidden" id="editFormProfilePicture" name="profilePicture" class="form-control" th:field="*{profilePicture}"/>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" id="updatePasswordBtn">
                            <i class="fas fa-key"></i> Update Password
                        </button>

                        <a th:href="@{/profile}" class="btn btn-primary" id="updatePasswordCancelBtn">
                            <i class="fas fa-ban"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>

            <div th:if="${success}" class="alert alert-success fade in">
                <strong th:text="${successMessage}"></strong><a th:href="@{/profile}" class="alert-link"> Go to your profile.</a>
            </div>

        </form>
    </div>

</div>
</body>
</html>