<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Edit Profile')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">

    <h1 style="margin-top: 50px;">Edit Profile:</h1>

        <div id="editUserFormWrapper">

            <form th:action="@{'/profile/' + ${user.id} + '/edit'}" method="POST" th:object="${user}" id="editUserForm">

                <div class="form-group">
                    <label for="editFormUsername">Username</label>
                    <input type="text" id="editFormUsername" name="username" class="form-control" th:value="${user.username}"/>
                    <!--th:field="*{username}"-->
                    <div
                            th:if="${#fields.hasErrors('username')}"
                            class="alert alert-danger alert-dismissible"
                            role="alert">
                        <span th:errors="*{username}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="editFormEmail">Email</label>
                    <input type="text" id="editFormEmail" name="email" class="form-control" th:value="${user.email}"/>
                    <!--th:field="*{email}"-->
                    <div
                            th:if="${#fields.hasErrors('email')}"
                            class="alert alert-danger alert-dismissible"
                            role="alert">
                        <span th:errors="*{email}"/>
                    </div>
                </div>

                <input type="hidden" id="editFormPassword" name="password" class="form-control" th:field="*{password}"/>
                <input type="hidden" id="date" name="date" class="form-control" th:field="*{date}"/>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">

                            <button type="submit" class="btn btn-primary" id="updateUserBtn">
                                <i class="fas fa-user-circle"></i> Update</button>
                             <a th:href="@{/profile}" class="btn btn-primary" id="updateUserCancelBtn">
                                 <i class="fas fa-ban"></i> Cancel
                             </a>

                            <div th:if="${success}" class="alert alert-success fade in">
                                <strong th:text="${successMsg}"></strong><a th:href="@{/profile}" class="alert-link"> Go to your profile.</a>
                            </div>
                         </div>
                    </div>
                </div>
            </form>

        </div>

    <!--=================================== DELETE BUTTON =========================================-->

    <h3 style="margin-top: 50px;">Danger Zone:</h3>

        <div id="editUserDeleteWrapper">

            <form th:action="@{'/profile/' + ${#authentication.principal.id} + '/delete'}" method="post" th:object="${user}" id="editUserDeleteForm">
                <input type="hidden" name="id" th:value="${user.id}" />

                <button type="submit" class="btn btn-primary btn-danger" id="editUserDeleteButton" >
                    <i class="fas fa-trash"></i> Delete Your Account
                </button>

                <div th:if="${successDelete}" class="alert alert-danger fade in">
                    <strong th:text="${successMessage}"></strong><a th:href="@{/posts}" class="alert-link"> Feel free to browse. </a>
                </div>
            </form>

        </div>

</div>
</body>
</html>

<!--&lt;!&ndash;================================ PASSWORD FIELD (HIDDEN) ====================================================&ndash;&gt;-->
<!--<div class="form-group">-->
    <!--&lt;!&ndash;<label for="editFormPassword">Password</label>&ndash;&gt;-->
    <!--<input type="hidden" id="editFormPassword" name="password" class="form-control" th:field="*{password}"/>-->
    <!--&lt;!&ndash;<input type="password"&ndash;&gt;-->
    <!--<div-->
            <!--th:if="${#fields.hasErrors('password')}"-->
            <!--class="alert alert-danger alert-dismissible"-->
            <!--role="alert">-->
        <!--<span th:errors="*{password}"/>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
    <!--&lt;!&ndash;<label for="password_confirm">Confirm your password</label>&ndash;&gt;-->
    <!--<input type="hidden" id="password_confirm" name="password_confirm" class="form-control" />-->
    <!--&lt;!&ndash;<input type="password"&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;===========================================================================================================&ndash;&gt;-->