<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Edit Profile')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">

    <h1 style="margin-top: 50px;">Edit Profile Here:</h1>


    <form th:action="@{'/profile/' + ${user.id} + '/edit'}" method="POST" th:object="${user}">

        <div class="form-group">
            <label for="editFormUsername">Username</label>
            <input type="text" id="editFormUsername" name="username" class="form-control" th:value="${user.username}"/>
            <!--th:field="*{username}"-->

            <div
                    th:if="${#fields.hasErrors('username')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <span th:errors="*{username}"/>
            </div>
        </div>

        <!--================================ PASSWORD FIELD (HIDDEN) ====================================================-->
        <!--<div class="form-group">-->
            <!--<label for="editFormPassword">Password</label>-->
            <!--<input type="hidden" id="editFormPassword" name="password" class="form-control" th:field="*{password}"/>-->
            <!--&lt;!&ndash;<input type="password"&ndash;&gt;-->
            <!--<div-->
                    <!--th:if="${#fields.hasErrors('password')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert">-->
                <!--<span th:errors="*{password}"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="password_confirm">Confirm your password</label>-->
            <!--<input type="hidden" id="password_confirm" name="password_confirm" class="form-control" />-->
            <!--&lt;!&ndash;<input type="password"&ndash;&gt;-->
        <!--</div>-->
        <!--===========================================================================================================-->

        <div class="form-group">
            <label for="editFormEmail">Email</label>
            <input type="text" id="editFormEmail" name="email" class="form-control" th:value="${user.email}"/>
            <!--th:field="*{email}"-->
            <div
                    th:if="${#fields.hasErrors('email')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <span th:errors="*{email}"/>
            </div>
        </div>

        <input class="form-control" type="hidden" id="date" name="date" th:field="*{date}"/>
        <input type="submit" value="Update Profile" class="btn btn-primary" />

    </form>

    <!--=================================== DELETE BUTTON =========================================-->

    <form th:action="@{'/profile/' + ${#authentication.principal.id} + '/delete'}" method="post" th:object="${user}">
        <input type="hidden" name="id" th:value="${user.id}" />
        <input type="submit" value="Saying Goodbye? Delete Account :(" class="btn btn-primary btn-danger"/>
    </form>

</div>
</body>
</html>