<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Step 1 - Forgot Password')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <div id="formLoginDiv">

        <h1>Forgot Password</h1>
        <p>STEP 1: Please provide an email address. This address will be sent further instructions to reset your password</p>

        <div th:if="${hasSent}" class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="${successMessage}"></span>
        </div>

        <form th:action="@{/forgot}" method="post" id="loginForm">
            <div class="form-group">
                <label for="forgot-email">Email:</label>
                <input id="forgot-email" class="form-control" name="email" placeholder=""/>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="Submit Email" class="btn btn-primary" id="send-email-submit"/>
        </form>

    </div>
    <div class="preloader hidden"></div>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
<script>

    $('form').on('submit', function() {
        $('.preloader').removeClass('hidden');
        $('#send-email-submit').prop('disabled', true);
    })

</script>
</body>
</html>