<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Forgot Password')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>


<form th:action="@{/forgot}" method="post" th:object="${user}">
    <label for="forgot-email"></label>
    <input id="forgot-email" name="email"/>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button type="submit">Send me a new token</button>

    <div th:if="${hasSent}" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${hasNotSent}" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${errorMessage}"></span>
    </div>


</form>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>