<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Login')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>


<div class="container">
    <div id="formLoginDiv">

    <h1>Log In </h1>

    <!--How do I validate my login form...?-->
    <!--What is param.error? Where does it come from?-->
    <!--Where are the parameters "${username}" and "${password}" coming from? Why isn't there a postmapping method for login?-->
        <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fas fa-exclamation-triangle"></i>
            Invalid username or password. Have you <strong><a th:href="${'/register'}">registered?</a></strong>
        </div>

        <div th:if="${hasReset}" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fas fa-check"></i>
            <span th:text="${successMessage}"></span>
        </div>

        <div th:if="${isExpired}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fas fa-exclamation-triangle"></i>
            <span th:text="${errorMessage}"></span>
        </div>

        <div th:if="${successDelete}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fas fa-exclamation-triangle"></i>
            <span th:text="${successMessage}"></span>
        </div>

        <!--<div th:if="${param.logout}">-->
            <!--You have been logged out.-->
        <!--</div>-->
        <form th:action="@{/login}" method="post" th:object="${user}" id="loginForm">

            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" class="form-control" th:field="*{username}"/>
            </div>

            <!--<div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">-->
                <!--Please enter a username-->
            <!--</div>-->

            <!--<div-->
                <!--th:if="${#fields.hasErrors('username')}"-->
                <!--class="alert alert-danger alert-dismissible"-->
                <!--role="alert">-->
                <!--<span th:errors="*{username}"/>-->
            <!--</div>-->

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" th:field="*{password}"/>
            </div>

            <!--<div-->
                    <!--th:if="${#fields.hasErrors('password')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert">-->
                <!--<span th:errors="*{password}"/>-->
            <!--</div>-->

            <!--<div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">-->
                <!--Please enter a password-->
            <!--</div>-->

            <input type="submit" value="Log In" class="btn btn-primary" />
            <div class="form-group">
                <p>Not a member? <a th:href="${'/register'}">Register here.</a></p>
            </div>

            <a th:href="@{/forgot}">Forgot password? Click here.</a>


        </form>
    </div>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>