<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('Profile')">
    <style>

        .page {
            margin: 1em auto;
            max-width: 768px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
        }

        .box {
            padding: 0.5em;
            width: 100%;
            margin:0.5em;
        }

        .box-2 {
            padding: 0.5em;
            width: calc(100%/2 - 1em);
        }

        .options label,
        .options input{
            width:4em;
            padding:0.5em 1em;
        }
        .btn{
            background:white;
            color:black;
            border:1px solid black;
            padding: 0.5em 1em;
            text-decoration:none;
            margin:0.8em 0.3em;
            display:inline-block;
            cursor:pointer;
        }

        .hide {
            display: none;
        }

        img {
            max-width: 100%;
        }

    </style>
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>
<div class="indexCategoriesListWrapper">
    <a class="indexEachCategory" th:each="category : ${categories}" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>
</div>
<div class="dropdown btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>Categories</span><i class="fas fa-caret-down categoriesDropdownDown"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="navDropdownEachCategory" th:field="*{categories}" th:each="category : ${categories}">
            <a class="navDropdownCategoryLink" th:text="${category.name}" th:href="@{/posts/search(term=${category.name})}"></a>
        </li>
    </ul>
</div>

<div class="container" id="profilePageWrapper">

<!-- Show different words or features based on whether you're on your profile or someone else's -->
<!--============================================ VIEWING LOGGED IN USERS PROFILE ========================================-->
<!--Reminder: #authentication.principal is the currently logged-in/session user-->

    <th:block sec:authorize="isAuthenticated()" th:if="${isOwnProfile}">

        <h2 class="profileWelcome">Welcome, <span th:text="${#authentication.principal.username}"></span>!</h2>

        <div class="cropper-container">
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-header">
                            <h5 class="modal-title" id="modalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="page">
                                <!-- ======================== Upload Image Form ============================================ -->
                                <form th:action="@{'/profile/edit/fileupload'}" method="POST" enctype="multipart/form-data"
                                      id="data-edit-profile-picture-form">
                                    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                                <!-- input file -->
                                    <div class="box" id="modalUploadPicBtnBox">
                                        <label for="file-input" class="custom-file-upload btn btn-secondary">
                                            <i class="fas fa-upload" style="padding-right: 1em"></i>Upload Profile Picture
                                            <input id="file-input" name="file" type="file" style="display:none;"/>
                                        </label>
                                    </div>
                                <!-- leftbox -->
                                    <div class="box-2">
                                        <div class="result"></div>
                                    </div>
                                    <!--rightbox-->
                                    <div class="box-2 img-result hide">
                                        <!-- result of crop -->
                                        <img name="croppedImage" class="cropped" src="" alt=""/>

                                    </div>
                                    <!-- input file -->
                                    <div class="box">
                                        <div class="options hide">
                                            <!--<label> Width</label>-->
                                            <!--<input type="number" class="img-w" value="300" min="100" max="1200" />-->
                                        </div>
                                        <!-- save btn -->
                                        <button class="btn save hide"><i class="fa fa-spinner fa-spin saving-gif hide" style="font-size:1em"></i> Save</button>

                                        <!-- download btn -->
                                        <a href="" class="btn download hide">Download</a>
                                        <!--confirm selection-->
                                        <button type="button" class="btn confirm hide" data-dismiss="modal">Confirm Selection</button>
                                        <div id="profilePictureError"
                                             class="alert alert-danger alert-dismissible hidden"
                                             role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer" id="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="modal" id="modal2" tabindex="-1" role="dialog">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<h5 class="modal-title">Modal title</h5>-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<p>Modal body text goes here.</p>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="profile-upper-wrapper">
            <div class="profile-picture-wrapper">
                <span th:if="${#authentication.principal.profilePicture} == null">
                    <img class="profilePic" src="/../images/user.png" width="150px" height="150px"/>
                </span>
                <span th:if="${#authentication.principal.profilePicture} != null">
                    <img class="profilePic" th:src="@{'/uploads/' + ${#authentication.principal.profilePicture}}" width="150px" height="150px"/>
                </span>
            </div>

            <div class="profile-info-wrapper">
                <h3 class="profileLoggedInMessage">You are logged in. You can make comments and <a id="profileCreatePostLink" th:href="${'/posts/create'}">create a post.</a></h3>
                <h4>
                    <i class="far fa-envelope profileEmailIcon"></i>
                        <span class="profileInfoText" th:text="${#authentication.principal.email}"></span>
                </h4>

                <h4>
                    <i class="far fa-hand-peace"></i>
                    <span class="profileInfoText" th:text="${karma}"></span>
                </h4>

                <h4>
                    <i class="far fa-handshake profileJoinIcon"></i>
                    <span class="profileInfoText" th:text="${#temporals.monthNameShort(#authentication.principal.date)}"></span>
                    <span class="profileInfoText" th:text="${#temporals.day(#authentication.principal.date)}"></span>,
                    <span class="profileInfoText" th:text="${#temporals.year(#authentication.principal.date)}"></span>
                </h4>

                <h4>
                    <i class="far fa-address-card"></i>
                    <span class="profileInfoText" th:text="${#authentication.principal.bio}"></span>
                </h4>

                <div class="profileChangeUsernameDiv">
                    <i class="fas fa-cog profileCogIcon"></i>
                    <a th:href="@{/profile/{id}/edit(id=${#authentication.principal.id})}">
                        <h5 id="profileChangeUsernameLink" data-target="#modal2" data-toggle="modal2">edit account</h5>
                    </a>
                </div>
                <div class="profileChangePasswordDiv">
                    <i class="fas fa-lock-open profilePasswordIcon"></i>
                    <a th:href="@{/profile/{id}/editPassword(id=${#authentication.principal.id})}">
                        <h5 id="profileChangePasswordLink" data-target="#modal3" data-toggle="modal3">change password</h5>
                    </a>
                </div>
                <label id="profileChangePictureLink" data-target="#modal" data-toggle="modal">
                    <i class="fas fa-upload uploadIcon"></i>change profile picture
                </label>
                <!-- Button trigger modal -->
                <!--<input id="file" onchange="previewFile()" name="file" type="file" style="display:none;"/>-->

            </div>
        </div>

    <hr class="commentHR"/>

        <h5 th:if="${postsAreEmpty}">
            <i class="far fa-frown profileFrownIcon"></i> You don't have any posts yet... get posting!
        </h5>
    </th:block>

<!--============================================== VIEWING OTHER USERS PROFILES ===========================================-->

    <th:block th:if="${!isOwnProfile}">
        <h2 class="profileWelcome"><span th:text="${profileUser.username}"></span>'s profile</h2>

        <div class="profile-upper-wrapper">
            <div class="profile-picture-wrapper">
                <span th:if="${profileUser.profilePicture} == null">
                        <img class="profilePic" src="/../images/user.png" width="150px" height="150px"/>
                </span>
                <span th:if="${profileUser.profilePicture} != null">
                        <img class="profilePic" th:src="@{'/uploads/' + ${profileUser.profilePicture}}" width="150px" height="150px"/>
                </span>
            </div>

            <div class="profile-info-wrapper">
                <h4>
                    <i class="far fa-envelope profileEmailIcon"></i>
                        <span class="profileInfoText" th:text="${profileUser.email}"></span>
                </h4>

                <h4>
                    <i class="far fa-hand-peace"></i>
                    <span th:text="${karma}"></span>
                </h4>

                <h4>
                    <i class="far fa-handshake profileJoinIcon"></i>
                        <span class="profileInfoText" th:text="${#temporals.monthNameShort(profileUser.date)}"></span>
                        <span class="profileInfoText" th:text="${#temporals.day(profileUser.date)}"></span>,
                        <span class="profileInfoText" th:text="${#temporals.year(profileUser.date)}"></span>
                </h4>

                <h4>
                    <i class="far fa-address-card"></i>
                    <span class="profileInfoText" th:text="${profileUser.bio}"></span>
                </h4>
            </div>
        </div>

        <hr class="commentHR"/>

        <h5 th:if="${postsAreEmpty}">
            <i class="far fa-frown profileFrownIcon"></i> They don't have any posts yet... lame!
        </h5>
    </th:block>

<!--============================================== THE LIST OF POSTS ======================================================-->

    <h3 id="profile-page-latest-posts-greeting">Latest posts...</h3>

    <hr class="commentHR"/>

    <div th:each="post : ${posts}">
    <!--<div th:each="post : ${profileUser.posts}"> // Caused the inability to sort by latest posts.-->

        <div class="postInfoWrapper">

            <div class="indent">
                <h4 th:text="${post.title}" class="postTitle">
                    <!--<a th:href="@{/posts/{id}(id=${post.id})}"></a> -->
                </h4>

                <div class="post-tags">
                    <a class="post-tag" th:each="tag : ${post.getCategories()}" th:text="${tag.name}" th:href="@{/posts/search(term=${tag.name})}"></a>
                </div>

                <h5>
                    <span class="postedByDateTime" th:text="${#temporals.format(post.date,  'h:mm a')}"></span>
                    <span class="postedByDate" th:text="${#temporals.monthNameShort(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.day(post.date)}"></span>
                    <span class="postedByDate" th:text="${#temporals.year(post.date)}"></span>
                </h5>

                <div>
                    <i class="fas fa-thumbs-up postUpVoteIconIndex"></i>
                    <h5 class="postVoteCountIndex" th:text="${post.voteCount()}"></h5>
                    <i class="fas fa-comments postCommentIconIndex"></i>
                    <h5 class="postCommentSizeIndex" th:text="${post.getComments().size()}"></h5>
                </div>

            </div>

            <div class="gradientBox">
                <div class="postDescription hidden">
                    <p th:utext="${post.htmlDescription}"></p>
                </div>

                <div class="read-more-div">
                    <i class="fas fa-hand-point-right fa-read-more"></i>
                    <a class="read-more" th:href="@{/posts/{id}(id=${post.id})}">continue reading...</a>
                </div>
            </div>

        </div>

        <div th:if="${isOwnProfile}" style="display: flex;">
            <div>
                <a class="btn btn-primary" id="profileEditPostBtn" th:href="${'/posts/' + post.id + '/edit'}">
                    <i class="far fa-edit"></i> Edit
                </a>

            <!--=================================== DELETE BUTTON =========================================-->
                <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post"> <!--th:object="${post}"-->
                    <!--<input type="hidden" name="id" th:field="*{id}" />-->
                    <button type="submit" class="btn btn-primary btn-danger" id="profileDeletePostBtn">
                        <i class="fas fa-bomb"></i> Delete
                    </button>
                    <!-- <input th:if="${isEditable}"-->
                </form>
            </div>
        </div>

    <hr style="border-width: 5px;"/>

    </div>
</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>

