<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('Profile')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<!-- Show different words or features based on whether you're on your profile or someone else's -->

<div class="container" id="profileWrap">
<!--============================================ VIEWING LOGGED IN USERS PROFILE ========================================-->
<!--Reminder: #authentication.principal is the currently logged-in/session user-->

    <th:block sec:authorize="isAuthenticated()" th:if="${isOwnProfile}">
        <h2>Welcome, <span th:text="${#authentication.principal.username}"></span>!</h2>

        <h3>Email: <span th:text="${#authentication.principal.email}"/></h3>

        <a th:href="@{/profile/{id}/edit(id=${#authentication.principal.id})}">change username or email</a> |
        <a th:href="@{/profile/{id}/editPassword(id=${#authentication.principal.id})}">change your password</a>

        <h4>Joined on:
            <span th:text="${#temporals.monthNameShort(#authentication.principal.date)}"></span>
            <span th:text="${#temporals.day(#authentication.principal.date)}"></span>,
            <span th:text="${#temporals.year(#authentication.principal.date)}"></span></h4>
        <h4>Your posts:</h4>
    </th:block>

<!--============================================== VIEWING OTHER USERS PROFILES ===========================================-->

    <th:block th:if="${!isOwnProfile}">
        <h2> Viewing <span th:text="${profileUser.username}"></span>'s profile!</h2>
        <h3> Email: <span th:text="${profileUser.email}"></span></h3>
        <h4> Joined on:
            <span th:text="${#temporals.monthNameShort(profileUser.date)}"></span>
            <span th:text="${#temporals.day(profileUser.date)}"></span>,
            <span th:text="${#temporals.year(profileUser.date)}"></span></h4>
        <h4>Their posts:</h4>
    </th:block>

<!--============================================== THE LIST OF POSTS ======================================================-->

    <div id="profileContent" th:each="post : ${profileUser.posts}">
        <ul>
            <li>
                <a th:href="@{/posts/{id}(id=${post.id})}"><h4 th:text="${post.title}"></h4></a>
                <h5 th:text="${post.description}"></h5>
                <h5 id="createdDate">created on:
                    <span th:text="${#temporals.monthNameShort(post.date)}"></span>
                    <span th:text="${#temporals.day(post.date)}"></span>,
                    <span th:text="${#temporals.year(post.date)}"></span> at
                    <span th:text="${#temporals.format(post.date,  'h:mm a')}"></span></h5>

                <div th:if="${isOwnProfile}">
                    <div>
                        <a class="btn btn-primary" th:href="${'/posts/' + post.id + '/edit'}">Edit</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>