<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Register')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">

    <h1 style="margin-top: 50px;">Register!</h1>


    <form action="/users/register" method="POST" th:object="${user}">

        <div class="form-group">
            <label for="regUsername">Username</label>
            <input type="text" id="regUsername" name="regUsername" class="form-control" th:field="*{username}"/>

            <!--<div-->
                    <!--th:if="${#fields.hasErrors('username')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert"-->
            <!--&gt;-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--<span th:errors="*{username}"/>-->
            <!--</div>-->
        </div>

        <div class="form-group">
            <label for="regPassword">Password</label>
            <input type="password" id="regPassword" name="regPassword" class="form-control" th:field="*{password}"/>

            <!--<div-->
                    <!--th:if="${#fields.hasErrors('password')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert"-->
            <!--&gt;-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--<span th:errors="*{password}"/>-->
            <!--</div>-->
        </div>

        <div class="form-group">
            <label for="regPassword_confirm">Confirm your password</label>
            <input type="password" id="regPassword_confirm" name="regPassword_confirm" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="regEmail">Email</label>
            <input type="text" id="regEmail" name="regEmail" class="form-control" th:field="*{email}"/>
            <!--<div-->
                    <!--th:if="${#fields.hasErrors('email')}"-->
                    <!--class="alert alert-danger alert-dismissible"-->
                    <!--role="alert"-->
            <!--&gt;-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--<span th:errors="*{email}"/>-->
            <!--</div>-->
        </div>

        <input type="submit" value="Register" class="btn btn-primary btn-block" />
        <!--<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>-->
    </form>


</div>


</body>
</html>