<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Register')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">

    <h1 style="margin-top: 2.25em;">Register Your Account</h1>

    <form th:action="@{/register}" method="POST" th:object="${user}">

        <div class="form-group">
            <label for="regUsername">Username</label>
            <input type="text" id="regUsername" name="regUsername" class="form-control" th:field="*{username}"/>

            <div
                    th:if="${#fields.hasErrors('username')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fas fa-exclamation-triangle"></i>
                <span th:errors="*{username}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="regPassword">Password</label>
            <input type="password" id="regPassword" name="regPassword" class="form-control" th:field="*{password}"/>

            <div
                    th:if="${#fields.hasErrors('password')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fas fa-exclamation-triangle"></i>
                <span th:errors="*{password}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password_confirm">Confirm your password</label>
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" />
        </div>

        <div class="form-group">
            <label for="regEmail">Email</label>
            <input type="text" id="regEmail" name="regEmail" class="form-control" th:field="*{email}"/>
            <div
                    th:if="${#fields.hasErrors('email')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fas fa-exclamation-triangle"></i>
                <span th:errors="*{email}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="regBio">Bio</label><span id="optionalBio">(optional)</span>
            <textarea id="regBio" name="regBio" class="form-control" th:field="*{bio}" style="resize:none" maxlength="1500"></textarea>
            <span id="chars">1500</span> characters remaining
            <div
                    th:if="${#fields.hasErrors('bio')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fas fa-exclamation-triangle"></i>
                <span th:errors="*{bio}"/>
            </div>
        </div>

        <input class="form-control" type="hidden" id="date" name="date" th:field="*{date}"/>
        <input type="submit" value="Register" class="btn btn-primary" />

    </form>

</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    let maxLength = 1500;
    $('textarea').keyup(function() {
        let length = $(this).val().length;
        let length2 = maxLength-length;
        $('#chars').text(length2);
    });
</script>