<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Harper\'s Geekly - Reset Password - Step 2')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <div id="formLoginDiv">

        <h1>Reset Password</h1>
        <p>STEP 2: Please enter your new password.</p>


        <form th:action="@{'/reset/' + ${resetToken}}" method="post" th:object="${user}" id="loginForm">

            <div class="form-group">
                <label for="reset-password">New Password</label>
                <input id="reset-password" class="form-control" name="password"/>
            </div>

            <div
                    th:if="${#fields.hasErrors('password')}"
                    class="alert alert-danger alert-dismissible"
                    role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fas fa-exclamation-triangle"></i>
                <span th:errors="*{password}"/>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="Save New Password" class="btn btn-primary"/>
        </form>

    </div>
</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>