<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('title')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<form th:action="@{'/reset/' + ${resetToken}}" method="post" th:object="${user}">

    <label for="reset-password"></label>
    <input id="reset-password" name="password"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button type="submit">Save New Password</button>
    <span th:text="${errorMessage}"></span>
    <!--<span th:text="${successMessage}"><a th:href="@{/login}">Click here to login.</a></span>-->
</form>

<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>