<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header('To Geek Is Human - Manage User Posts')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="jumbotron flex-center">
    <h2 class="display-3 archivedPostsWelcome"><span th:text="${user.username}"></span>'s Posts</h2>
</div>

<div class="container">
    <th:block th:include="posts/archivedPosts :: posts-table"></th:block>
</div>

<footer th:include="fragments/footer :: my-footer"></footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
<script>

    $(document).ready(function () {
        $('.preloader').fadeOut('slow',function(){
            $(this).remove();
            $('.archive-table').removeClass('hidden');
        });
        $('#dtBasicExample').DataTable({
            // responsive: true,
            "order": [[ 3, "desc" ]],
            "pageLength": 6
        });

        // https://datatables.net/blog/2014-12-18

    });
</script>
</body>
</html>