body {
    /*!*margin: 0;*!*/
    padding-top: 65px;
    background-color: #d4cedd;
    /*min-height: 100vh;*/
    /*height: 100%;*/

}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding-top: 60px;
    height: 100%;
}

.navbar-default {
    background-color: rgb(255, 222, 123);
    border-bottom: #d4cedd solid 1px;
}

#postIntro {
    text-align: center;
}

#wrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: 155px;
}

#content {
    margin-left: 20px;
    overflow: auto;
    /*margin-bottom: 155px;*/
}

#showPageIntro {
    text-align: center;
}

#showPageContent {
    margin-left: 20px;
}


#footer {
    background: #e2a087;
    height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
}
