body {
    /*!*margin: 0;*!*/
    padding-top: 65px;
    /*min-height: 100vh;*/
    /*height: 100%;*/
    background:  #dedede;
    font-family: Georgia, serif;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding-top: 60px;
    height: 100%;
}

.navbar-default {
    background-color: #5c5757;
    /*border-bottom: #ffa631 solid 10px;*/
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>form>button>a, #logout,
.navbar-default .navbar-nav>li>a {
    color: #d9edf7;
    font-family: Avenir, serif;
    text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>form>button>a:hover, #logout,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffea7e;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    text-decoration: none;
}

#logout {
    margin-top:8px;
}


#postIntro {
    text-align: center;
}

#wrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: 155px;
}

#content {
    font-family: Georgia, serif;
    margin-left: 20px;
    overflow: auto;
    /*margin-bottom: 155px;*/
}

#showPageIntro {
    text-align: center;
}

#showPageContent {
    margin-left: 20px;
}


#footer {
    /*border-top: #00aeff solid 10px;*/
    background: #ffea7e;
    height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer ul, #footer a:hover {
    font-family: Avenir, serif;
    text-decoration: none;
}
