body {
    /*!*margin: 0;*!*/
    padding-top: 65px;
    /*min-height: 100vh;*/
    background: #fffafb;
    /*font-family: Georgia, serif;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

/*============================================================ NAVBAR ====================================================*/

.navbar-default {
    border: none;
    background-color: #2B2C28;
    /*border-bottom: #FFFAFB solid 10px;*/
    box-shadow: 0px 0px 30px #333;
}

.navbar-default .navbar-brand {
    color: #7DE2D1;
    /*font-family: Futura, serif;*/
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
    color: #339989;
    text-decoration: none;
}

.navbar-header {
    margin-bottom: 0px;
}

#header-icon {
    display: inline-block;
}

/* ================ Navbar Links ===============*/

.nav > li > a {
    color: #7DE2D1 !important;
    /*font-family: Futura, serif;*/
    font-family: 'Roboto', sans-serif;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
}

.nav > li > a:hover, .nav > li > a:active  {
    color: #339989 !important;
}

.fa-nav {
    color: #7DE2D1;
    margin-right: 5px;
    margin-left: 5px;
}

/* ================== Logout Button =========== */

#logout {
    /*font-family: Futura, serif;*/
    font-family: 'Roboto', sans-serif;
    color: #7DE2D1;
    margin-top:8px;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
}

#logout:hover, #logout:active {
    color: #339989;
    margin-top:8px;
    background-color: transparent;
    outline: none;
    text-decoration: none;
}

/*================================================== LOGIN ===== REGISTER =============================================*/

#formLoginDiv {
    display: block;
    text-align: center;
}
#loginForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*========================================================== POSTS =====================================================*/

.gradientBox {
    margin-right: 6em;
    margin-left: 2em;
    margin-bottom: 2em;
}

/*==================Index Page ================*/

ul {
    list-style: none;
}

#postIntro {
    text-align: center;
}

.postTitleIndexPage {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 1em;
    display: inline-block;
    /*color: #E07A5F;*/
}

.postUpVoteIconIndex {
    color: #888888;
}

.postVoteCountIndex {
    margin-right: 1em;
    display: inline-block;
    color: #888888;
}

.postCommentIconIndex {
    display: inline-block;
    color: #888888;
}

.postCommentSizeIndex {
    display: inline-block;
    color: #888888;
}

.post-tag {
    color: #E07A5F;
    font-size: 0.9em;
    font-weight: normal;
    background-color: papayawhip;
    padding: 0.25em;
    border-radius: 3px;
}

.post-tag:hover {
    text-decoration: none;
    color: #7DE2D1;
}

.postedByNameTextIndex {
    margin-right: 0.75em;
    color: black;
}

.postedByNameTextIndex:hover {
    text-decoration: none;
    color: #7DE2D1;
}

textarea, input, .form-control {
    border-radius: 0;
    border-style: solid;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    /*border-color: Transparent;*/
    /*outline: none;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/

#indexPageWrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: 100px;
    /*background-color: papayawhip;*/
}

.content {
    /*border: 1px solid #ccc!important;*/
    width: 78%;
    margin: 0 auto;
    /*font-family: Georgia, serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
    /*overflow: auto;*/
    /*height: 200px;*/
    min-height:50px;
    overflow:hidden;
    /*margin-bottom: 155px;*/
}

/*overflow: auto;*/
/*height: 200px;*/
/*#content {*/
/*max-height: 250px;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*content: "";*/
/*}*/
/*#content:before {*/
    /*background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*!*margin-bottom: 200px;*!*/
/*}*/

.postDescription{
    width: 100%;
    margin: 0 auto 1em;
    /*padding-bottom: 5px;*/
    /*max-height:100px;*/
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
    line-height: 1.1em;
    /*border-bottom: 3px solid #777;*/
    max-height:100px;
    /*max-height:200px;*/

}
.postDescription:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*background: linear-gradient(transparent 50px, papayawhip);*/
    /*background-image: -moz-linear-gradient(transparent 50px, papayawhip);*/
    /*background-image: -o-linear-gradient(transparent 50px, papayawhip);*/
    /*background-image: -ms-linear-gradient(transparent 50px, papayawhip);*/
    background: linear-gradient(transparent 50px, #FFFAFB);
    background-image: -moz-linear-gradient(transparent 50px, #FFFAFB);
    background-image: -o-linear-gradient(transparent 50px, #FFFAFB);
    background-image: -ms-linear-gradient(transparent 50px, #FFFAFB);
}

.fa-read-more {
    color: #339989;
}

.read-more {
    text-decoration: underline;
    color: #339989;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
}

.read-more:hover {
    color: #7DE2D1;
}



/*background:linear-gradient(transparent 150px, white);*/

/*background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgb(255, 250, 251) 69%); !* FF3.6-15 *!*/
/*background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgb(255, 250, 251) 69%); !* Chrome10-25,Safari5.1-6 *!*/
/*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255, 250, 251) 69%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); !* IE6-9 *!*/

/*background: -webkit-linear-gradient(*/
/*rgba(255, 255, 255, 0) 0%,*/
/*rgb(255, 250, 251) 100%*/
/*);*/
/*background-image: -moz-linear-gradient(*/
/*rgba(255, 255, 255, 0) 0%,*/
/*rgb(255, 250, 251) 100%*/
/*);*/
/*background-image: -o-linear-gradient(*/
/*rgba(255, 255, 255, 0) 0%,*/
/*rgb(255, 250, 251) 100%*/
/*);*/
/*background-image: linear-gradient(*/
/*rgba(255, 255, 255, 0) 0%,*/
/*rgb(255, 250, 251) 100%*/
/*);*/
/*background-image: -ms-linear-gradient(*/
/*rgba(255, 255, 255, 0) 0%,*/
/*rgb(255, 250, 251) 100%*/
/*);*/
/*============== Create Post Page =================*/

.createPostPageWrapper {
    margin-bottom:5em;
}

.createPostPageIntro {

}

/*============ Edit Post Page ==================*/

.editPostPageWrapper {
    margin-bottom: 5em;
}

.editPostPageIntro {

}

/*=============== Show Page ====================*/

#showPageIntro {
    text-align: left;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
}

#showPageWrapper {
    margin-left: 1em;
}

#profileWrap {
    overflow: hidden;
}

#profileContent {

}

.postedBy {
    font-weight: bold;
    /*margin-left: 1.3em;*/
}

.postedByNameText {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.8em;
    margin-right: 0.75em;
    text-decoration: none;
    color: black;
}

.postedByDateTime {
    margin-right: 0.75em;
    color: #999999;
}

.postedByDate {
    color: #999999;
}

#postTextBody {
    margin-left: 1.2em;
}

#editPostBtn {
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 1em;
    margin-top: 0.55em;
    background: none;
    color: #888888;
}

#editPostBtn:hover {
    color: #E07A5F;
    text-decoration: none;
}

#deletePostBtn {
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    margin-top: 0.55em;
    color: #888888;
}

#deletePostBtn:hover {
    color: #E07A5F;
}

/*================= COMMENTS =====================*/

.commentSection {
    /*display: inline-block;*/
    width: 70%;
}

.comment-wrapper {

}

.commentedBy {
    background-color: #f4f4f4;
    font-weight: bold;
}

.parentComment {
    background-color: papayawhip;
    font-weight: bold;
}

.commentedByNameText {
    font-size: 1.1em;
    line-height: 1.8em;
    margin-right: 0.75em;
    color: black;
}

.commentedByDateTime {
    margin-right: 0.75em;
    color: #888888;
}

.commentedByDate {
    color: #888888;
}

.commentBodyWrapper {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

#commentBodyText {
    /*line-height: 1em;*/
    /*margin-left: 2%;*/
    font-size: 15px;
}

/*.commentFormWrapper {*/
    /*margin-top: 1em;*/
    /*!*margin-top: 2em;*!*/
/*}*/

.form-group {
    margin-top:1.5em;
}

#commentFormBody {
    font-family: 'Roboto', sans-serif;
    width:70%;
    border-radius: 0;
    margin: auto;
    height: 10em;
    resize: none;
}

.commentSubmitBtn {
    margin-left: 8.55em;
}

#commentHRLeader {
    /*border-top: 6px solid #8c8b8b;*/
    width: 80%;
}

.commentHR {
    border-top: 1px solid #8c8b8b;
}

.postUpvote, .postDownvote {
    font-size: 1.2em;
    color: #2B2C28;
}

.postUpvote:hover, .postDownvote:hover {
    color: #7DE2D1;
    cursor: pointer;
}

.postUpvote:active, .postDownvote:active {
    cursor: pointer;
    color: #339989;
}

.commentUpvote, .commentDownvote {
    font-size: 1.2em;
    color: #2B2C28;
}

.commentUpvote:hover, .commentDownvote:hover {
    color: #7DE2D1;
    cursor: pointer;
}

.commentUpvote:active, .commentDownvote:active {
    cursor: pointer;
    color: #339989;
}

.stayActive {
    color: #7DE2D1;
    cursor: pointer;
}

.stayActive:hover {
    color: #339989;
    cursor: pointer;
}

.postVoting {
    display: inline-block;
    float: left;
    margin-top: 0.55em;
    /*padding-right: 25px;*/
}

.commentVoting {
    display: inline-block;
    float: left;
    margin-top: 0.3em;
}

.upvoteDiv {
    float:left;
    margin-right:1em;
}

.voteCountDiv {
    display:inline-block;
    margin-right: 1em;
    margin-top: -1em;
}

.downvoteDiv {
    float: right;
    margin-right: 2em;
}

.editAndDeleteWrapper {
    margin-top: 1em;
    margin-left: 1em;
    line-height: 2em;
}

.editAndDeleteBtnsRow {
    /*margin-left: 0.0em;*/
    margin-right: 4.85em;
    float:right;
    line-height: 2em;
}

.editAndDeleteBtnsRow:after {
    margin-left: 5em;
    line-height: 2em;
}

.commentEdit {
    float: left;
    margin-right: 1em;
}

.deleteCommentBtn, .deleteCommentBtnAJAX {
    color: #c0c0c0;
    border: none;
    background-color: #FFFAFB;
    text-decoration: none;
}

.editCommentBtn, .editCommentBtnAJAX {
    color: #c0c0c0;
    text-decoration: none;
}

.deleteCommentBtn:hover, .editCommentBtn:hover, .deleteCommentBtnAJAX:hover, .editCommentBtnAJAX:hover {
    background-color: #FFFAFB;
    color: #E07A5F;
    text-decoration: none;
    cursor: pointer;
}

.deleteCommentBtn:active, .editCommentBtn:active, .deleteCommentBtnAJAX:active, .editCommentBtnAJAX:active {
    background-color: #FFFAFB;
    color: #E07A5F;
    text-decoration: none;
    cursor: pointer;
}

.fa-edit, .fa-bomb {
    color: #c0c0c0;
}

.replyNotLoggedIn {
    margin-top: 1.4em;
}

.showReplyTextArea, .showReplyTextAreaAJAX {
    cursor: pointer;
    color: #888888;
    margin-top: 1.4em;
    margin-bottom: 3em;
}

.showReplyTextArea:hover, .showReplyTextAreaAJAX:hover {
    cursor: pointer;
    color: #E07A5F;
}

.showReplyTextAreaCancel, .showReplyTextAreaCancel:hover,
.showReplyTextAreaCancelAJAX, .showReplyTextAreaCancelAJAX:hover {
    cursor: pointer;
    color: #E07A5F;
    margin-top: 1.4em;
}

.replyFormBody, .replyFormBodyAJAX {
    resize: none;
    border-radius: 0;
    height: 7em;
    width: 92%;
    margin-left: 2.5em;
}

#replyFormBody, #replyFormBodyAJAX {
    resize: none;
    border-radius: 0;
    height: 7em;
    width: 92%;
    margin-left: 2.5em;
}

.replyTextArea {
    margin-top: -1.5%;
}

.commentReplyBtn, .commentReplyBtnAJAX {
    margin-left: 2.5em;
}

#commentsErrorAJAXDiv {
    width: 79%;
    margin: auto;
}

.repliesErrorAJAX {
    width: 116.6%;
    margin-left: -6em;
}

/*=============== Profile page ======================*/

#profileCreatePostLink {
    color: #E07A5F;
}

#profileCreatePostLink:hover {
    text-decoration: none;
}

#profileChangeUsernameLink, #profileChangePasswordLink {
    display: inline-block;
    color: #999999;
}

#profileChangeUsernameLink:hover, #profileChangePasswordLink:hover {
    text-decoration: underline;
}

#profileChangeUsernameLink {
    margin-right: 1em;
}

.profileChangeUsernameDiv,
.profileChangePasswordDiv {
    display: inline-block;
}

.profilePostVoteCountText,
.profilePostVoteIcon,
.profilePostCommentIcon,
.profilePostCommentCountText {
    color: #999999;
}

.profileFrownIcon {
    font-size: 3em;
}

.profilePostVoteTitleRow {
    display: inline-block;
}

.profilePostVoteCountDiv {
    float: left;
}

.profilePostThumbsUpDiv {
    margin-left: 0.5em;
    margin-right: 1em;
    margin-top: 0.5em;
    float: left;
    display: inline-block;
}

.profilePostCommentCountDiv {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.profilePostCommentIconDiv {
    margin-right: 1em;
    display: inline-block;
}

.profilePostTitleDiv {
    float:right;
    margin-top:-0.25em;
}

.profilePostTitleText {
    color: #E07A5F;
}

.profileEmailIcon {

}

#profileEditPostBtn {
    float: left;
    margin-right: 20px;
    background: none;
    color: #999999;
}

#profileDeletePostBtn {
    background: none;
    color: #999999;
}

#profileEditPostBtn:hover, #profileDeletePostBtn:hover {
    text-decoration: underline;
}

/*=============== Edit User Page ========================*/

#editUserFormWrapper {
    display: block;
    text-align: center;
}

#editUserForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#editUserDeleteForm {
    float: left;
}

#updateUserBtn {
    float: left;
    margin-right: 20px;
}

#editUserDeleteButton, #editUserDeleteButton:active {
    background-color: #7DE2D1;
    float: left;
}

#editUserDeleteDeclineButton, #editUserDeleteDeclineButton:active {
    background-color: #E07A5F;
}

/*=============== Edit Password Page ===================*/

#editPasswordFormWrapper {
    display: block;
    text-align: center;
}

#editPasswordForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#updatePasswordBtn {
    float: left;
    margin-right: 20px;
}



/*========================================================= BUTTONS ====================================================*/


.btn {
    border-radius: 0;
    background-color: #7DE2D1;
    color: #131515;
    border: hidden #a1a1a1;
    outline:none;
}

.btn:hover, .btn:active {
    background-color: #339989;
    color: #131515;
    outline:none
}

/*===================================================== PAGINATION ====================================================*/

.text-center {
    position: relative;
}

/*===================================================== FOOTER ========================================================*/

#clearingDiv {
    height: 100px;
}

#footer {
    /*border-top: #00aeff solid 10px;*/
    background: #131515;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #7DE2D1;
}

.footerList>li>a {
    color: #7DE2D1;
    font-family: Futura, serif;
}

.footerList>li>a:hover, .footerList>li>a:active {
    color: #339989;
    text-decoration: none;
}

.fa-footer {
    color: #7DE2D1;
    margin-right: 5px;
    margin-left: 5px;
}


/*.profile-right{     background: #fff;*/
    /*border: solid 1px rgba(151, 151, 151, 0.1);*/
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    /*padding: 19px 16px 16px;*/
    /*font-size: 15px;*/
/*}*/
