/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================= MOBILE RESPONSIVE ZONE =======================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/

@media screen and (max-width: 600px) {

    .navbar-default {
        box-shadow: none;
    }

    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .navbar-brand-text {
        font-size: 24px !important;
        line-height: 0.875;
    }

    .wordwrap {
        white-space: pre-wrap;      /* CSS3 */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -o-pre-wrap;   /* Opera 7 */
        word-wrap: break-word;      /* IE */
    }

    .scrollUp {
        position: fixed;
        z-index: 9999;
        width: 58px;
        height: 48px;
        bottom: 20px;
        right: 20px;
        display: none;
        font-size: 3em;
        color: #E07A5F;
        /*background: url('../images/codeup-arrow.png') transparent;*/
    }

    .scrollUp:hover {
        color: papayawhip;
        cursor: pointer;
        z-index: 9999;
    }

    #searchBtnIcon {
        font-size: 2em;
    }

    #srch-term {
        height: 2em;
        font-size: 2em;
        background: transparent;
        border: none;
        /* border-bottom: 1px solid #ddd; */
        color: white;
    }

    .nav > li > a {
        font-size: 1.3em;
    }

    #logout {
        font-size: 1.3em;
        margin-top: 0px;
    }

    /*.dropdown {*/
        /*display: block;*/
    /*}*/

    /*.navDropdownEachCategory {*/
        /*text-align: center;*/
    /*}*/

    /*.dropdown-menu > li > a {*/
        /*color: #E07A5F;*/
        /*padding: 1em;*/
    /*}*/

    /*.navDropdownCategoryLink:hover {*/
        /*text-decoration: none;*/
    /*}*/

    /*.indexCategoriesListWrapper {*/
        /*display: none;*/
    /*}*/

    .indexPageWrapper {
        margin-top: 2em;
    }

    .popularityWrapper {
        display: none;
    }

    .popularityWrapperMobile {
        display: block;
    }

    .eachPopularSection {
        padding-right: 2em;
        padding-left: 2em;
        margin-bottom: 3em;
    }

    .postTitle {
        font-size: 4vh;
    }

    .post-subtitle {
        font-size: 3vh;
        padding-top: 0.5vh;
    }

    .post-subtitle-show-page {
        font-size: 3vh;
    }

    #emptySearchedContent {
        width: 60%;
    }

    .searchResultsPagePostWrapper {
        margin: 0 auto;
        display: flex;
        width: 100%;
    }

    /*=============== PROFILE =====================*/

    .profileWelcome {
        text-align: center;
    }

    .profilePic {
        width: 128px;
        height: 128px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 100px;
    }

    #profilePageWrapper {
        margin-top: 2em;
    }

    .profile-picture-wrapper {
        position: absolute;
        left: 32%;
    }

    .change-profile-picture-alternate {
        display: none;
    }

    .profile-info-wrapper {
        margin-top: 125px;
        padding-left: 1em;
    }

    #profileChangePictureLink {
        margin-left: 0em;
        font-weight: 500;
    }

    .postTextBodyDiv {
        width: auto;
        margin-left: -0em;
    }

    #manage-posts-button {
        box-shadow: 0px 2px 5px #000;
        display: block;
        padding: 10px 32px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #fff;
        background: #E07A5F;
        border: 0;
        border-radius: 30px;
        margin: auto auto 2em;
    }

    .profile-page-latest-posts-greeting {
        font-size: 2em;
    }

    .comment-ellipsis-div{
        display: flex !important; /* show the ellipsis no matter what */
    }

    /*=============================================*/
    /*=============================================*/

    .commentSection {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .postWrapper {
        width: 100%;
    }

    .postDescription {
        max-height: 250px;
    }

    .postDescription > p {
        padding-left: 1em;
        padding-right: 1em;
        /* width: 100%; */
        line-height: 1.3;
    }

    .headline-image {
        display: none !important;
    }

    .postDescription > a {
        line-height: 1.3;
    }

    .postDescription > p > img  {
        display: flex !important;
        transform: scale(1.1);
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 100% !important;
        height: auto !important;
    }

    .postDescription > a > p > img {
        max-width: 100% !important;
        height: auto !important;
    }

    .postDescription > p > iframe {
        width: 100%;
    }

    /*.read-more-div {*/
        /*font-size: 1.3em;*/
        /*margin-left: 0.5em;*/
    /*}*/

    .indent {
        margin-left: 10px;
    }

    #show-more-posts-button-div {
        float: none;
        margin-top: 2em;
        margin-bottom: 4em;
    }

    #show-more-posts {
        box-shadow: 0px 2px 5px #000;
        margin: auto;
        display: block;
        padding: 20px 64px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #fff;
        background: #E07A5F;
        border: 0;
        border-radius: 30px;
    }

    /*========================== Show Page ==========================================*/

    .showPageWrapper {
        margin-left: 0em;
        margin-top: -1.5vh;
    }

    .postWrapper-showPage {
        margin: 0 auto;
        display: flex;
        width: 100%;
    }

    .postInfoWrapper {
        width: 100%;
    }

    .image-top-show-page-mobile {
        display: block;
    }

    .image-top-show-page-mobile > p > img {
        /*transform: scale(1.125);*/
        /*margin-top: 0.25em;*/
        /*margin-bottom: 0.25em;*/
        max-width: 100% !important;
        height: auto !important;
    }

    .profile-pic-wrapper-show-page {
        margin-top: 0em;
        margin-right: 1em;
    }

    .profile-pic-show-page-mobile {
        width: 48px;
        height: 48px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 35px;
    }

    .post-info-wrapper-mobile {
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .post-info-name-date-wrapper {
        display: flex;
        align-items: center;
    }

    .post-vote-options-row {
        margin-left:0.5em;
    }

    .replyPostNotLoggedInDiv {
        width: 55%;
    }

    #custom-content-width {
        width: 100%;
    }

    .show-all-content {
        max-height: 100%;
    }

    .show-all-content > p > img:first-child {
        display: none;
    }

    .editedCommentCancelBtn, .editedCommentSubmitBtn {
        float: right;
    }

    .indent-comment {
        margin-left: 25px;
    }

    .commentInfoWrapper {
        margin-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: #3333330f;
    }

    .comment-info-date-mobile-wrapper {
        display: block;
        font-size: 12px;
        margin-left: 0.5em;
    }

    .comment-info-date-wrapper {
        display: none;
    }

    .commentBodyText {
        margin-left:0.5em;
    }

    .comment-vote-reply-options-row {
        margin-left: 0.5em;
    }

    .commentHR {
        display:block;
        border-top: 1px solid #8c8b8b;
    }

    .parentCommentStyling {
        border-bottom: 0px solid #88888852;
        /*padding-left: 1em;*/
        /*background-color: #99999930;*/
        /*border-radius: 11px;*/
    }

    .commentedByNameText {
        font-size: 1.1em;
        font-weight: bold;
        line-height: 1.8em;
        margin-right: 0.75em;
        padding-left: 0.5em;
        color: black;
    }

    .commentReplyBtn, .commentReplyBtnAJAX {
         margin-left: 0em;
    }

    .replyFormBody, .replyFormBodyAJAX {
        resize: none;
        border-radius: 0;
        border-style: none;
        overflow: auto;
        border-bottom: 3px solid black;
        height: 3em;
        position: relative;
        outline: none;
        box-shadow: none;
        padding: 0;
        max-width: 100%;
        background: transparent;
        width:100%;
        margin-left: 0em;
    }

    /*// ========= ALL POSTS =========*/

    .th-title {
        width: 25%;
    }

    .th-editor {
        width: 15%;
    }

    .th-likes {
        width: 15%;
    }

    .th-comments {
        width: 30%;
    }

    .th-date {
        width: 15%;
    }

    /*// ======== USER POSTS =======*/

    .th-title-user-archive {
        width: 20%;
    }

    .th-likes-user-archive {
        width: 15%;
    }

    .th-comments-user-archive {
        width: 30%;
    }

    .th-date-user-archive {
        width: 15%;
    }

    .th-options-user-archive {
        width: 10%;
    }

    /*.th-edit-user-archive {*/
        /*width: 10%;*/
    /*}*/

    /*.th-delete-user-archive {*/
        /*width: 10%;*/
    /*}*/

}